---
title: Application Troubleshoot
description: "Everything you need to troubleshoot your application with Qovery"
hide_pagination: true
---

Within this section you will find the common errors you might encounter when deploying or running your applications with Qovery

## Liveness/Readiness failed, connect: connection refused

If you encounter this kind of error on the Liveness and/or Readiness probe during an application deployment phase:

```bash
Readiness probe failed: dial tcp 100.64.2.230:80: connect: connection refused
Liveness probe failed: dial tcp 100.64.2.230:80: connect: connection refused
```

That means your application may not able to start, or has started but takes too many time to start.

Here are the possible reasons for starting issues you should check:

<Steps headingDepth={3}>
<ol>
<li>

The declared port on Qovery (here 80), does not match your application's opening port. Check your application port, and [set the correct port to your application configuration][docs.using-qovery.configuration.application#ports].

</li>
<li>

Ensure your application is not listening onto localhost (127.0.0.1) or a specific IP. But set it to all interfaces (0.0.0.0).

</li>
<li>

Your application takes too long to start and the liveness probe is flagging your application as unhealthy. Try to grow the [`liveness_probe.initial_delay_seconds` parameter][docs.using-qovery.configuration.advanced-settings], to inform Kubernetes to delay the time before checking your application availability. Set it for example to 120.

</li>
</ol>
</Steps>

## My app is crashing, how do I connect to investigate?

**Goal: You want to connect to your container's application to debug your application**

First, try to use `qovery shell` command from the [Qovery CLI][docs.using-qovery.interface.cli#shell]. It's a safe method to connect to your container and debug your application.

If your app is crashing in the first seconds, you'll lose the connection to your container, making the debug almost impossible, then continue reading.

<Alert type="danger">

You can apply this procedure directly on your application OR on a copy having the same setup.
If you don't make a copy, doing this procedure directly on the **PRODUCTION** application will lead to a downtime in your service. Be sure of what you're doing before going ahead!

</Alert>

Your app is crashing very quickly, here is how to keep the full control of your container:

<Steps headingDepth={3}>
<ol>

<li>

[Temporary delete the application port from your application configuration][docs.using-qovery.configuration.application#ports]. This to avoid Kubernetes to restart the container when the port is not open.

</li>
<li>

Into your Dockerfile, comment your `EXEC` or `ENTRYPOINT` and add a way to make your container sleep. For example:
```bash
#CMD ["npm", "run", "start"]
CMD ["tail", "-f", "/dev/null"]
```

Commit and push your changes to trigger a new deployment (trigger it manually from the Qovery console if it's not the case).

</li>
<li>

Once the deployment done, you can use [qovery shell][docs.using-qovery.interface.cli#shell] command to connect to your container and debug.

<Alert type="success">

Once you've finished debugging, **remember to configure your application port back**. It's mandatory to avoid downtimes during application releases.

</Alert>

</li>
</ol>
</Steps>


## 0/x nodes are available: x insufficient cpu/ram

If you encounter this kind of error during an application deployment phase:

```bash
0/1 nodes are available: 1 Insufficient cpu (or ram).
```

That means that we cannot reserve the necessary resources to deploy your application or database on your cluster due to an insufficient amount of CPU or RAM. Moreover, the cluster auto-scaler cannot be triggered since it has already reached the maximum number of instances for your cluster (valid only for Managed Kubernetes clusters).

Here are the possible solutions you can apply:

* Reduce the resources (CPU/RAM) allocated to your existing/new service. Have a review of the deployed services and see if you can save up some resources by reducing their CPU/RAM setting. If you are using a *K3S (EC2) cluster*, stop your service before changing the settings. Remember to re-deploy the applications when you edit the resource. Have a look at [the resource section for more information][docs.using-qovery.configuration.application#resources].

* Select a bigger instance type for your cluster (in terms of CPU/RAM). By increasing it, it will unlock the deployment of your application (since new resources have been added). Check your [cluster settings][docs.using-qovery.configuration.clusters#managing-your-cluster-settings], and change the instance type of your cluster.

* (only for Managed kubernets clusters) Increase the maximum number of nodes of your cluster. By increasing it, it will allow the cluster autoscaler to add a new node and allow the deployment of your application (since new resources have been added). Check your [cluster settings][docs.using-qovery.configuration.clusters#managing-your-cluster-settings], and increase the maximum number of nodes of your cluster.

<Alert type="info">

Please note that by increasing the number of nodes OR by selecting a bigger instance type you will increase your cloud provider cost. For more information, have a look at our [cluster section][docs.using-qovery.configuration.clusters#what-are-the-different-instance-types-available-when-creating-a-cluster].

</Alert>

Please note that application resource consumption and application resource allocation are not the same. Have a look at [the resource section for more information][docs.using-qovery.configuration.application#resources]

## Can't get my SSL / TLS Certificate

When a custom domain is added to an application, it must be configured on your side according to the instructions displayed:

<p Valign="center">
  <img src="/img/custom-domain-configuration.png" alt="Custom Domain Configuration" />
</p>

You can check that your custom domain is well configured using the following command: `dig CNAME ${YOUR_CUSTOM_DOMAIN} +short`. On the domain above, we can check the configuration is correct on Google DNS servers:

```bash
$ dig CNAME new.console.qovery.com +short @8.8.8.8
zdf72de71-z709e1a85-gtw.za8ad0659.bool.sh.
```

It should return the same value as the one configured on Qovery. Otherwise, be patient (some minutes depending on DNS registrars) and ensure the DNS modification has been applied. Finally, you can check the content of the `CNAME` with:

```bash
$ dig A new.console.qovery.com +short @8.8.8.8
zdf72de71-z709e1a85-gtw.za8ad0659.bool.sh.
ac8ad80d15e534c549ee10c87aaf82b4-bba68d8f58c6755d.elb.us-east-2.amazonaws.com.
3.19.99.1
18.188.137.104
```

We can see the destination contains other elements, indicating that the `CNAME` is pointing to an endpoint and correctly configured.

The SSL / TLS Certificate is generated for the whole group of custom domains you define:
* if one custom domain is misconfigured: the certificate can't be generated
* if the certificate has been generated once, but later one custom domain configuration is changed and misconfigured: the certificate can't be generated again

If you experience some invalid certificate, here is how you can fix the issue:

<Steps headingDepth={3}>

<ol>
<li>

Identify the misconfigured custom domain(s) in your application settings.

</li>

<li>

Fix or delete them.

</li>

<li>

Redeploy your impacted application(s).

</li>
</ol>
</Steps>


## Git Submodules - Error while checkout submodules

**Error Message**:

```
Error message: Error while checkout submodules from repository https://github.com/user/repo.git.
Error: Error { code: -1, klass: 23, message: "authentication required but no callback set" }
```

There are limitations with the support for Git Submodules. Only public Submodules over HTTPS or private with embedded basic authentication are supported.

Solution: Follow our [Git Submodules guide][guides.tutorial.working-with-git-submodules] to make your application working with Git Submodules on Qovery.


## Container image xxxxxx.xxx.xx failed to build: Cannot build Application "zXXXXXXXXX" due to an error with docker: Timeout

This error shows up in your deployment logs when the application takes more time to build than the maximum build allowed time (today 1800 seconds). 

If your application needs more time to build, increase parameter [build.timeout_max_sec][docs.using-qovery.configuration.advanced-settings#application-deployment] within your application advanced settings and trigger again the deployment.