---
title: Database Troubleshoot
description: "Everything you need to troubleshoot your databases with Qovery"
hide_pagination: true
---

Within this section you will find the common errors you might encounter when deploying or running your databases with Qovery

## During a managed database delete, I've this error: SnapshotQuotaExceeded

This errors occurs because Qovery creates a snapshot before the delete of the database. This to avoid a user mistake who delete a database accidentally.

To fix this issue, you have 2 solutions:

<Steps headingDepth={3}>
<ol>
<li>

You certainly have useless snapshots, from old databases or old ones you don't want to keep anymore. Delete them directly from your Cloud Provider web interface. Here is an example on AWS:

* Search for the database service (here RDS)
* Select the Snapshots menu
* Select the snapshots to delete

<p Valign="center">
  <img src="/img/configuration/database/db-snaptshots-quotas-exceed.png" alt="Database snapshots" />
</p>

</li>
<li>

Open a ticket to the Cloud Provider support, and as to raise this limit.

</li>
</ol>
</Steps>
