---
title: Redis
description: "How to set up and use a Redis database"
---
import Assumptions from '@site/src/components/Assumptions';

<Assumptions name="documentation">

You have created an [Environment][docs.using-qovery.configuration.environment].

</Assumptions>

Redis is an open source (BSD licensed), in-memory data structure store, used as a database, cache and message broker. It supports data structures such as strings, hashes, lists, sets, sorted sets with range queries, bitmaps, hyperloglogs, geospatial indexes with radius queries and streams.

<Alert type="info">

Check out [this video guide][guides.getting-started.create-a-database] to create and deploy your first database

</Alert>

## Create a Redis database

<Steps headingDepth={3}>
<ol>
<li>

Navigate to [Console](https://console-beta.qovery.com)

</li>
<li>

Select your project and environment

</li>

<li>

Click `Add Database` button

<p align="center">
  <img src="/img/configuration/database/db-1.png" alt="Database" />
</p>

</li>

<li>

Select database type, name and version

<p align="center">
  <img src="/img/configuration/database/redis-1.png" alt="Database" />
</p>

</li>

<li>

Deploy the database using `Action` deploy button

<p align="center">
  <img src="/img/configuration/database/db-3.png" alt="Database" />
</p>

</li>

</ol>
</Steps>

## Configuration

### General

#### Modes

Databases can operate in two modes:

- Managed
- Container

**Managed** databases are perfect for production - they are provided and managed by major cloud providers like AWS to make sure your production data is well managed.

**Container** databases are managed by Qovery as Docker containers with attached persistent storage. They are perfect for development and testing, as they are significantly cheaper than services provided by cloud providers.

<Alert type="warning">
    Managed databases are supported only in `Startup` plans, it's not available in the `Community` version.
</Alert>

#### Versions

Qovery supports the following Redis versions.

|Version|Supported|
|---------|-------|
|6|Yes|
|5|Yes|

You can adjust the version of your database in `General` section of database settings:

<p align="center">
  <img src="/img/configuration/database/redis-2.png" alt="Database Version" />
</p>

#### Accessibility

To make your database secure, you may decide not to expose it publicly.

- **Public** access will make your database accessible via the public network
- **Private** access will make your database accessible only by applications in your environment

You can configure the accessibility settings in `General` section of database settings:

<p align="center">
  <img src="/img/configuration/database/redis-2.png" alt="Database Accessibility" />
</p>

### Resources

#### CPU

To tweak CPU configuration of your database, navigate to `Resource` section in database settings:

<p align="center">
  <img src="/img/configuration/database/db-4.png" alt="Database CPU" />
</p>

#### Memory

To tweak RAM configuration of your database, navigate to `Resource` section in database settings:

<p align="center">
  <img src="/img/configuration/database/db-5.png" alt="Database Memory" />
</p>

#### Storage

To tweak the disk space assigned to your database, navigate to `Resource` section in the database settings:

<p align="center">
  <img src="/img/configuration/database/db-7.png" alt="Database Storage" />
</p>

## Credentials

To access your database in your application, [link it to your database][docs.using-qovery.configuration.application#database].
Qovery will inject all environment variables and secrets you need to connect your app to your database.
To see all the secrets injected for your application, see [database secrets section][docs.using-qovery.configuration.application#database-secrets].

## Delete your Redis instance

<Alert type="danger">

Delete action drops the service and its data!

</Alert>

<Steps headingDepth={3}>
<ol>
<li>

Navigate to [Console](https://console-beta.qovery.com)

</li>
<li>

Select your environment and database

</li>

<li>

In database overview, click on `Action` remove button

<p align="center">
  <img src="/img/configuration/database/redis-3.png" alt="Database Remove" />
</p>

</li>
</ol>
</Steps>