---
last_modified_on: "2020-10-04"
title: "Scaleway (SCW)"
description: "Learn how to configure and plug your Scaleway (SCW) account"
---

import Steps from '@site/src/components/Steps';
import Alert from '@site/src/components/Alert';
import Assumptions from '@site/src/components/Assumptions';

Qovery lets you quickly deploy applications to your [Scaleway (Scaleway)][urls.scaleway] account. No knowledge needed, and it takes less than 10 minutes to install Qovery on your Scaleway account.

<Alert type="info">

Do you want to know more about how Qovery works on your Scaleway account? [Here][docs.useful-resources.faq#how-qovery-works-under-the-hood] is explained how Qovery works under the hood.

</Alert>

<!--
SCHEMA: Show a schema where Qovery is deployed on the account of the customer
-->

## Getting started

<Assumptions>

* You have a [Qovery][docs.using-qovery.interface] account
* You have created an [Organization][docs.using-qovery.configuration.organization]
* You have a Scaleway account

</Assumptions>

### Connect your Scaleway account

To link your Scaleway account to Qovery you need to provide a Scaleway `access key id`, `secret access key` and a `project id`.

<Alert type="info">

You can link more than one Scaleway account. Qovery also support multiple Cloud providers within the same Organization. Meaning, you can balance your workload on different Cloud providers. [Read more][guides.advanced].

</Alert>

#### Create your Scaleway credentials - `access key id`, `secret access key` and `project id`.

<Steps headingDepth={3}>
<ol>

<li>

[Connect to your Scaleway console](https://console.scaleway.com)

</li>

<li>

Go to `Credentials`
<img src="/img/scw-create-credentials-1.jpg" />

</li>

<li>

Copy your `project ID` and generate new API key
<img src="/img/scw-create-credentials-2.jpg" />

</li>

<li>

Generate your new API key
<img src="/img/scw-create-credentials-3.jpg" />

</li>

<li>

Copy the generated `access key id` and `secret access key`.

<img src="/img/scw-create-credentials-4.jpg" />

</li>

</ol>

</Steps>

Well done!! You now have your Scaleway `access key id`, `secret access key` and `project id`; It's time to connect Qovery to your Scaleway account.

#### Use Scaleway credentials with Qovery

<%= qovery_web_interface_coming_soon %>

### Remove your Scaleway account

<%= qovery_web_interface_coming_soon %>

### Delete Qovery from your Scaleway account

<Alert type="warning">

Your applications and your data will be deleted.

</Alert>

To delete Qovery from your Scaleway account you must be the owner of the Organization.
Once your Scaleway account removed from Qovery, everything configured (VPC, Kubernetes, databases, ...) by Qovery will be deleted forever.

## Regions

Qovery supports the following AWS regions:

| | name        | description
|-|-------------|--------------------------
|🇫🇷| fr-par-1   | Paris DC1 (France)
|🇫🇷| fr-par-2   | Paris DC2 (France)
|🇳🇱| nl-ams-1   | Amsterdam DC1 (Netherlands)
|🇵🇱| pl-waw-1   | Warsaw DC1 (Poland)

Qovery supports regions where [Scaleway Kubernetes (Kapsule)](https://www.scaleway.com/en/kubernetes-kapsule/) is supported.

<%= qovery_cloud_account_how_it_works('Scaleway') %>

<%= qovery_cloud_account_faq('Scaleway') %>
