---
title: "Get Started"
description: "Learn how to get started with Qovery Business"
---
import Assumptions from '@site/src/components/Assumptions';

To deploy your apps on your Cloud provider account you need to install Qovery.

<Assumptions>

* You have a [Qovery][docs.using-qovery.interface] account

</Assumptions>

## Install Qovery

In 4 steps only you can install Qovery on your Cloud provider account you only need to:

1. [Create an Organization][docs.using-qovery.configuration.business.organization].

<p align="center">
  <img src="/img/qovery_create_organization.svg" alt="Qovery - Create an Organization" />
</p>

2. Select your Cloud provider where you want to use Qovery and insert the required Credentials.

<p align="center">
  <img src="/img/qovery_select_cloud_provider.svg" alt="Qovery - Select your Cloud provider" />
</p>

3. Select the closest region from your users to have the best latency.

<p align="center">
  <img src="/img/qovery_select_cloud_provider_region.svg" alt="Qovery - Select your Cloud provider" />
</p>

4. Congrats! Qovery will be installed within 30 minutes 🎉.

<p align="center">
  <img src="/img/qovery_installation_waiting_state.svg" alt="Qovery - Select your Cloud provider" />
</p>

## What's next?

1. Invite your teammates.
2. [Deploy your first app][guides.getting-started.deploy-your-first-application] on your Cloud provider account.
3. See how to control your cost with [Policies][docs.using-qovery.configuration.business.policy].
