---
title: Meilisearch
description: Getting started with Meilisearch and Qovery
---
[MeiliSearch](https://www.meilisearch.com/) is a powerful, fast, open-source, easy to use and deploy search engine. Both searching and indexing are highly customizable. Features such as typo-tolerance, filters, and synonyms are provided out-of-the-box.

Here is a list of quickstarts for Meilisearch and Qovery

<Jump to="[[[guides.tutorial.quickstart-meilisearch]]]" leftIcon="book">
  <div className="title">Getting started with Meilisearch on Qovery</div>
</Jump>
