---
title: NodeJS
description: Getting started with NodeJS and Qovery
---
[Node.js](https://nodejs.org/en/) is an open-source, cross-platform, JavaScript runtime environment. It executes JavaScript code outside of a browser.

Here is a list of quickstarts for NodeJS and Qovery

<Jump to="[[[guides.tutorial.quickstart-node]]]" leftIcon="book">
  <div className="title">Getting started with Node on Qovery</div>
</Jump>
