Here is a video showing how to install Qovery on your AWS account. (Check out our written tutorial [here][guides.advanced.guide-amazon-web-services])

<div class="video-container">
  <p align="center">
    <iframe src="https://www.loom.com/embed/3450aa0c4122467892cd7c6e1fc85f6e" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
    </iframe>
  </p>
</div>

