<li>

### Use Dockerfile

In application overview, select **Settings**

<p align="center">
  <img src="/img/open-settings.png" alt="Open Settings" />
</p>

In the **Build Mode**, select **Dockerfile** and set Dockerfile path as `Dockerfile`

</li>