Here is a short video showing how to deploy your app with the [Qovery Web interface][urls.start_qovery].

<div class="video-container">
  <p align="center">
    <iframe src="https://www.loom.com/embed/1d22969f2eec43e98280a2183840ac73" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
    </iframe>
  </p>
</div>
