<li>

### Deploy the app on Qovery

All you have to do now is to navigate to your application and click **Deploy** button

<p align="center">
  <img src="/img/heroku/heroku-1.png" alt="Deploy App" />
</p>

That's it. Watch the status and wait till the app is deployed.

</li>