<li>

After the application is created: 

- Navigate application settings
- Select **Port**
- Add port **<%= port %>**

<p align="left">
    <img src="/img/micro/micros-1.png" alt="Microservices" />
</p>

</li>