<li>

### Configure the connection to the database

In application overview, open the **Variables** tab

<p align="center">
  <img src="/img/open-env-var.png" alt="Open Variable" />
</p>

Configure the alias for each built_in environment variable to match the one required within your code

<p align="center">
  <img src="/img/alias.png" alt="Env Var Alias" />
</p>

Have a look at [this section][docs.using-qovery.configuration.environment-variable#connecting-to-a-database] to know more on how to connect to a database.

</li>