Sign up using the **Qovery CLI**, it's very simple!

### Install the CLI!

<%= qovery_install_cli() %>

### Sign Up

After the Qovery CLI is installed, run the following command:

```bash
qovery auth
```

A browser window with sign-in options will open.

<p align="center">
  <img src="/img/qovery_signup.svg" alt="Qovery Sign-up page" />
</p>

Choose one of the options (e.g. **Github**) to authenticate.

### Authorize Qovery

Qovery needs access to your account to be able to clone your repository for future application builds.

[Click here][urls.authorize_qovery] to authorize Qovery to clone and build your applications.

<p align="center">
  <img src="/img/github-connect.png" alt="Connect Github" />
</p>

**That's it! You should see "Authentication successful. You can close this window." message.**
