import SVG from 'react-inlinesvg';
import Steps from '@site/src/components/Steps';
import Assumptions from '@site/src/components/Assumptions';
import Alert from '@site/src/components/Alert';
import BusinessBadge from '@site/src/components/BusinessBadge';

Qovery is the **Internal Developer Platform (IDP)** that cuts noise for developers with paved paths to production. Testing, ephemeral environments, and drive action to improve software.

<p align="center">
  <img src="/img/developers-and-platform-engineer-with-qovery.jpg" alt="Developers and a Platform Engineer using Qovery as an IDP" />
</p>

## Qovery For Platform Engineers

By using Qovery, Platform Engineering teams can provide an outstanding platform to their developers in less than a hour. Then Platform Engineering teams can tailor the experience of Qovery and even build on top of it to fit their own golden path. They keep the control and can audit what developers do.

### How Qovery Works

Qovery runs on top of Kubernetes and provide a convenient layer with a set of features to build a platform that your developers love.

<p align="center">
  <img src="/img/how-qovery-works-2.jpg" alt="Qovery - How it Works" />
</p>

### Notable features for Platform Engineers

- Templates
- [RBAC][docs.using-qovery.configuration.organization.members-rbac]
- [Audit Logs][docs.using-qovery.audit-logs]
- Cost Management
- [Integrates in your CI/CD][docs.using-qovery.integration.continuous-integration]
- Bring Your Own Kubernetes
- GitOps Support
- [Open-Source Interfaces][docs.using-qovery.interface] (perfect to build on top)
  - [Web Console][docs.using-qovery.interface.web-interface]
  - [CLI][docs.using-qovery.interface.cli]
  - [Terraform Provider][docs.using-qovery.interface.terraform-interface]
  - [Public API][docs.using-qovery.interface.rest-api]

## Qovery For Developers / Engineering Teams

By using Qovery, developers are autonomous in deploying their applications, debugging, and scaling. They don't need any infrastructure knowledge. They can connect their git repository, pushing and deploying their apps.

Qovery focus on providing an outstanding Developer Experience and never assume that developers know how underlying infrastructure work.

### Notable features for Developers

- Self-Service Platform
- Git Push And Deploy
- Live Application Logs
- Easy Variables Management
- Easy Domain Management
- No Infra Knowledge Needed
- Ephemeral Environments

## Integrates Qovery in your technical stack

1. Qovery is battery included! Get a State-of-the-Art Internal Developer Platform in 30 minutes.
2. Qovery integrates perfectly well into an existing ecosystem.

<p align="center">
  <img src="/img/qovery-internal-developer-platform.jpg" alt="Qovery - Internal Developer Platform landscape" />
</p>
