Here is a short video showing how to deploy your app with the [Qovery Web interface][urls.start_qovery].

<div class="video-container">
  <p align="center">
    <iframe width="800" height="600" src="https://www.youtube.com/embed/kdCt26vyzgs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
  </p>
</div>

Steps:
* Create a project
* Deploy an app
