Sign up using the **Qovery CLI**, it's very simple!

<Alert>

### First time using Qovery? Install the CLI!

<%= qovery_install_cli() %>

</Alert>

### Sign Up

After the Qovery CLI is installed, run the following command:

```bash
qovery auth
```

A browser window with sign in options will open.

<p align="center">
  <img src="/img/qovery_auth.png" alt="Qovery Authentication" />
</p>

Choose one of the options (e.g. **Github**) to authenticate.

### Authorize Qovery

Qovery needs an access to your account to be able to clone your repository for future application builds.

Click [here to authorize Qovery to clone and build your applications][urls.authorize_qovery].

<p align="center">
  <img src="/img/github-connect.png" alt="Connect Github" />
</p>

At the end, we need to validate your action on our side:

<p align="center">
  <img src="/img/github-auth.png" alt="Github Auth" />
</p>

**That's it! You should see "Authentication successful. You can close this window." message.**
