```bash
# Sign up and sign in command
$ qovery auth
```

<Alert type="info">

If you are using an environment without access to GUI or a browser, you can use headless authentication instead:

```bash
# Sign up and sign in command
$ qovery auth --headless
```

</Alert>

Your browser window with sign-in options will open.

<p align="center">
  <img src="/img/qovery_signup.svg" alt="Qovery Sign-up page" />
</p>

[Click here][urls.authorize_qovery] to authorize Qovery to clone and build your applications.

<p align="center">
  <img src="/img/github_signup.svg" alt="Connect Github" />
</p>

Congratulations, you are logged-in.
