<li>

### Create a new project

<p align="center">
  <img src="/img/heroku/heroku-2.png" alt="Migrate from Heroku" />
</p>

</li>

<li>

### Create a new environment

<p align="center">
  <img src="/img/heroku/heroku-3.png" alt="Migrate from Heroku" />
</p>

</li>

<li>

### Create a new application

To follow the guide, <a href="<%= repo_url %>">you can fork and use our repository</a>

Use the forked repository (and branch **<%= branch %>**) while creating the application in the repository field:

<p align="center">
  <img src="/img/rust/rust.png" alt="Migrate from Heroku" />
</p>

</li>
