<Tabs
  centered={true}
  className={"rounded"}
  defaultValue={"web"}
  placeholder="Select your interface"
  select={false}
  size={null}
  values={[{"group":"Interfaces","label":"Web","value":"web"},{"group":"Interfaces","label":"CLI","value":"cli"}]}>

<TabItem value="web">

<li>

<%= qovery_sign_up_web() %>

</li>

</TabItem>

<TabItem value="cli">

<li>

### Install Qovery CLI

<%= qovery_install_cli() %>

</li>

<li>

### Sign up

<%= qovery_sign_up_cli() %>

</li>

</TabItem>

</Tabs>

