<li>

### Add the database to the application

In application overview, select **Settings**

<p align="center">
  <img src="/img/open-settings.png" alt="Open Settings" />
</p>

Switch to **Database**, pick your database and **Save**

<p align="center">
  <img src="/img/link-db.png" alt="Link Database" />
</p>

</li>