<% if is_steps %>
<li>
<% end %>

### Install Qovery CLI

<%= qovery_install_cli() %>

<% if is_steps %>
</li>

<li>
<% end %>

### Sign up
```bash
# Sign up and sign in command
$ qovery auth
```

<Alert type="info">

If you are using an environment without access to GUI or a browser, you can use headless authentication instead:

```bash
# Sign up and sign in command
$ qovery auth --headless
```

</Alert>

Your browser window with sign-in options will open.

<p align="center">
  <img src="/img/qovery_signup.svg" alt="Qovery Sign-up page" />
</p>

Note: Qovery needs access to your account to be able to clone your repository for future application builds.

[Click here][urls.authorize_qovery] to authorize Qovery to clone and build your applications.

<p align="center">
  <img src="/img/github_signup.svg" alt="Connect Github" />
</p>

Congratulations, you are logged-in.

<Alert type="info" >

Are you hosting your projects on Gitlab? We got you covered!
Simply sign in to Qovery using your Gitlab account and enable Qovery in your project using:

```bash
# enables Qovery for the project in current working directory
$ qovery git enable
```

That's it! It's a one time process that needs to be performed in each of your Gitlab projects that makes Gitlab send notifications about events happening in your repository.

In the future, Qovery will allow you to manage your projects directly in Gitlab and Qovery UI.

</Alert>

<% if is_steps %>
</li>
<% end %>
