---
last_modified_on: "2020-04-16"
title: "IDE Plugins"
description: "Description of Qovery IDE plugins"
---
Writing Qovery configuration is simple. If you like using IDE plugins to improve your workflows, you can be assisted by plugins to avoid typo mistakes, get auto-completion, and move even faster.

<Alert>
A big shout out to great contributor <a href="https://github.com/alexisvisco">Alexis Viscogliosi</a> for creating these great plugins!
</Alert>

## IntelliJ

You can easily install the Qovery Intellij plugin through the [Marketplace][urls.qovery_intelij_plugin] or directly from the IDE (`File` -> `Settings` -> `Plugins` -> search `Qovery`).

Here's a quick demo to show you how it works:

<p align="center">
  <img src="/img/plugin-intellij.gif" alt="Qovery InteliJ Plugin" />
</p>

## VSCode

VisualStudio Code has our module available on the Marketplace.

Demo:

<p align="center">
  <img src="/img/vscode-module.gif" alt="Qovery VSCode Plugin" />
</p>