---
last_modified_on: "2020-04-16"
title: "Project Templates"
description: "Use Project Templates to move blazingly fast"
---
Templates are pre-configured `Dockerfiles` and `.qovery.yml` configs that allow you to bootstrap a new application quickly.

For example, to quickly set up a <a href="https://hasura.io/">Hasura</a> GraphQL APIs on Qovery, you can use a template maintained by our [community][urls.qovery_templates_repo].

To set it up from scratch, run:

```bash
mkdir my_hasura_application
cd my_hasura_application
git init

qovery init -t hasura
```

<CodeExplanation>

* The mkdir command creates a new directory for your application
* The cd command moves you to your newly created directory
* The git init command initializes a new Git repository in the current directory
* The qovery init command configures Hasura

</CodeExplanation>

Now, all you have to do is to commit and publish your repository to Github, Gitlab, or Bitbucket, and your Hasura application is deployed!