---
last_modified_on: "2020-10-04"
title: "Slack"
description: "Learn how to connect Qovery to your Slack workspace"
---

If you'd like to automatically notify your team on a Slack workspace whenever a change has occurred on your apps, this Integration will help you out. You can choose which actions should trigger messages on your Slack workspace.

Here are the steps that we are going through:

1. [Create a Slack app](#1-create-a-slack-app)
2. [Create a Webhook](#2-create-webhook)
3. [Setup Webhook in Qovery](#3-create-webhook-in-qovery)
4. [Try it!](#4-try-it)

## 1. Create a Slack app

Go to the [Slack page to create apps](https://api.slack.com/apps?new_app=1) and create a new app. C

<p align="center">
  <img src="/img/slack/create-app-slack-1.png" alt="Create a slack app - step 1" />
</p>

Create a Slack app from scratch.

<p align="center">
  <img src="/img/slack/create-app-slack-2.png" alt="Create a slack app - step 2" />
</p>

all it `Qovery` and connect it to the workspace of your choice.

<p align="center">
  <img src="/img/slack/create-app-slack-3.png" alt="Create a slack app - step 3" />
</p>

Feel free to use an image from [here](https://raw.githubusercontent.com/Qovery/public-resources/master/qovery_square_new_logo_with_margin.png) as the app's logo.

<p align="center">
  <img src="/img/slack/create-app-slack-4.png" alt="Create a slack app - step 4" />
</p>

## 2. Create Webhook

Go to the `Incoming Webhooks` page for your newly-created app and toggle `Activate Incoming Webhooks` to turn it on.

<p align="center">
  <img src="/img/slack/create-webhook-1.png" alt="Create a webhook integration on Slack - step 1" />
</p>

Then click on `Add New Webhook to Workspace`

<p align="center">
  <img src="/img/slack/create-webhook-2.png" alt="Create a webhook integration on Slack - step 2" />
</p>

and select the channel that the notifications will be posted to:

<p align="center">
  <img src="/img/slack/create-webhook-3.png" alt="Create a webhook integration on Slack - step 3" />
</p>

Copy the webhook URL

<p align="center">
  <img src="/img/slack/create-webhook-4.png" alt="Create a webhook integration on Slack - step 4" />
</p>


## 3. Create Webhook in Qovery

To create a webhook in Qovery you need to:

1. Install the [Qovery CLI][docs.using-qovery.interface.cli]
2. Generate an [API Token][docs.using-qovery.interface.cli#generate-api-token]
3. Copy the following CURL command:

```bash
curl -X POST -H 'Content-type: application/json' -H 'Authorization: Token <Your API Token>' -d \
'{"description": "slack notifications", "target_url": "<Your Slack Webhook URL>", "events": ["DEPLOYMENT_STARTED", "DEPLOYMENT_CANCELLED", "DEPLOYMENT_SUCCESSFUL", "DEPLOYMENT_FAILURE"], "kind": "SLACK", "enabled": true}' \
"https://api.qovery.com/organization/{Your Organization ID}/webhook"
```

4. Replace `<Your API Token>` with your Qovery API token
5. Replace `<Your Slack Webhook URL>` with your Slack Webhook URL
6. Replace `{Your Organization ID}` with your Qovery organization ID.
7. Run the complete CURL command in your terminal.

<details>

<summary>Learn how to get your Organization ID</summary>

Your Organization ID is the first ID in your [console.qovery.com][urls.start_qovery] URL. E.g. for `https://console.qovery.com/platform/organization/70c9a78d-454b-41dc-8478-d1f95bd08fd7/projects` the Organization ID is `70c9a78d-454b-41dc-8478-d1f95bd08fd7`

</details>
<br/>

You must receive a REST response from the API if it's all good!

You can also add the properties:

* `project_names_filter` to send events for project matching the name and...
* `environment_types_filter`to send events for environments matching the type.

### Other examples

Here is another example to send webhook events only for production and staging environments

```bash
curl -X POST -H 'Content-type: application/json' -H 'Authorization: Token <Your API Token>' -d \
'{"description": "slack notifications", "target_url": "<Your Slack Webhook URL>", "environment_types_filter": ["PRODUCTION", "STAGING"], "events": ["DEPLOYMENT_STARTED", "DEPLOYMENT_CANCELLED", "DEPLOYMENT_SUCCESSFUL", "DEPLOYMENT_FAILURE"], "kind": "SLACK", "enabled": true}' \
"https://api.qovery.com/organization/{Your Organization ID}/webhook"
```

Note that `environment_types_filter`:

* is a list
* accepts `PRODUCTION`, `DEVELOPMENT`, `STAGING`, `PREVIEW`

And one more example to send webhook events only for project with names starting by `product` or equal to `analytics`

```bash
curl -X POST -H 'Content-type: application/json' -H 'Authorization: Token <Your API Token>' -d \
'{"description": "slack notifications", "target_url": "<Your Slack Webhook URL>", "project_names_filter": ["product*", "analytics"], "events": ["DEPLOYMENT_STARTED", "DEPLOYMENT_CANCELLED", "DEPLOYMENT_SUCCESSFUL", "DEPLOYMENT_FAILURE"], "kind": "SLACK", "enabled": true}' \
"https://api.qovery.com/organization/{Your Organization ID}/webhook"
```

Note that `project_names_filter`:

* is a list
* is not case-sensitive
* accepts wildcard

### Considerations

- You can have multiple webhooks targeting different Slack channels
- You can specify the events that you want to receive. E.g. if you just want to be notified when a deployment failed, then use `"events": ["DEPLOYMENT_FAILURE"]`. All the events and the description are available [on our API doc](https://api-doc.qovery.com/#tag/Organization-Webhook/operation/createOrganizationWebhook).
- You can turn off or delete your webhooks at any time with [this API call](https://api-doc.qovery.com/#tag/Organization-Webhook/operation/deleteOrganizationWebhook).
- The Qovery web interface will integrate the Webhook configuration :)

Check out [this page][docs.using-qovery.integration.webhook] for further details on how to use the WebHook API.

## 4. Try it!

Launch a deployment with Qovery, and you will see a message like the one below appearing in your Slack channel 🎉

<div class="video-container">
  <p align="center">
    <iframe src="https://www.loom.com/embed/903ef59767ad4f95a59219d631a66d59" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
    </iframe>
  </p>
</div>

Open a thread on [our forum][urls.qovery_forum] if you have any questions.
