---
last_modified_on: "2020-10-04"
title: "Slack"
description: "Learn how to connect Qovery to your Slack workspace"
---

import Alert from '@site/src/components/Alert';

If you'd like to automatically notify your team on a Slack workspace whenever a change has occurred on your apps, this integration will help you out. You can choose which actions should trigger messages on your Slack workspace.

Here are the steps that we are going through:

1. [Create a Slack App](#1-create-a-slack-app)
2. [Create a Webhook](#2-create-webhook)
3. [Setup a Webhook in Qovery](#3-create-webhook-in-qovery)
4. [Try it!](#4-try-it)

## 1. Create a Slack App

<Steps headingDepth={3}>
<ol>
<li>

Go to the [Slack page to create apps](https://api.slack.com/apps?new_app=1) and create a new app:

<p align="center">
  <img src="/img/slack/create-app-slack-1.png" alt="Create a slack app - step 1" />
</p>

</li>
<li>

Create a Slack app from scratch:

<p align="center">
  <img src="/img/slack/create-app-slack-2.png" alt="Create a slack app - step 2" />
</p>

</li>
<li>

Call it `Qovery` and connect it to the workspace of your choice:

<p align="center">
  <img src="/img/slack/create-app-slack-3.png" alt="Create a slack app - step 3" />
</p>

</li>
<li>

Feel free to use an image from [here](https://raw.githubusercontent.com/Qovery/public-resources/master/qovery_square_new_logo_with_margin.png) as the app's logo:

<p align="center">
  <img src="/img/slack/create-app-slack-4.png" alt="Create a slack app - step 4" />
</p>

</li>
</ol>
</Steps>

## 2. Create a Webhook

<Steps headingDepth={3}>
<ol>
<li>

Go to the `Incoming Webhooks` page for your newly-created app and toggle `Activate Incoming Webhooks` to turn it on:

<p align="center">
  <img src="/img/slack/create-webhook-1.png" alt="Create a webhook integration on Slack - step 1" />
</p>

</li>
<li>

Click on `Add New Webhook to Workspace`:

<p align="center">
  <img src="/img/slack/create-webhook-2.png" alt="Create a webhook integration on Slack - step 2" />
</p>

</li>
<li>

Select the channel that the notifications will be posted to:

<p align="center">
  <img src="/img/slack/create-webhook-3.png" alt="Create a webhook integration on Slack - step 3" />
</p>

</li>
<li>

Copy the webhook URL:

<p align="center">
  <img src="/img/slack/create-webhook-4.png" alt="Create a webhook integration on Slack - step 4" />
</p>

</li>
</ol>
</Steps>

## 3. Create a Webhook in Qovery

To create a webhook in Qovery, have a look at [this section][docs.using-qovery.integration.webhook#creating-a-webhook]. For the URL, use the Slack Webhook URL that you got from the previous step. 

### Considerations

- You can have multiple webhooks targeting different Slack channels.
- You can specify the events that you want to receive. E.g. if you just want to be notified when a deployment failed, then use `"events": ["DEPLOYMENT_FAILURE"]`. All the events and the description are available [on our Webhook section][docs.using-qovery.integration.webhook].
- You can turn off or delete your webhooks at any time from the webhook section.

Check out [this page][docs.using-qovery.integration.webhook] for further details on how to use and configure the WebHook.

## 4. Try it!

Launch a deployment with Qovery, and you will see a message like the one below appearing in your Slack channel 🎉

<div class="video-container">
  <p align="center">
    <iframe src="https://www.loom.com/embed/903ef59767ad4f95a59219d631a66d59" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
    </iframe>
  </p>
</div>

Open a thread on [our forum][urls.qovery_forum] if you have any questions.
