---
title: "Application"
description: "Learn how to configure your Application on Qovery"
---
import Jump from '@site/src/components/Jump';
import Alert from '@site/src/components/Alert';
import Assumptions from '@site/src/components/Assumptions';

<Assumptions name="documentation">

You have created an [Environment][docs.using-qovery.configuration.environment].

</Assumptions>

An **application** is part of a [Project][docs.using-qovery.configuration.project] within an [Environment][docs.using-qovery.configuration.environment] and is a container unit. Multiple applications can be part of the same [Environment][docs.using-qovery.configuration.environment], be connected to a set of dependencies (databases and other services), and can communicate with other applications within the same Environment.

## Create an Application

<Alert type="info">

Check out [this video guide][guides.getting-started.deploy-your-first-application] to create and deploy your first application

</Alert>

## Configuration

### General

General settings allow you to set up your application name, git repository and build mode.

#### Git Repository

- Configure your repository URL (it can be hosted on Github, Gitlab or Bitbucket).
- Select branch that Qovery should use for builds in this environment
- Select `Root Application Path` - base folder in which the application resides in your repository

<p align="center">
  <img src="/img/configuration/application/app-17.png" alt="CPU" />
</p>

<Alert type="info">

Qovery supports monorepositories, you can deploy multiple apps using a single repository. [For details, see our advanced guide.][guides.advanced.monorepository]

</Alert>

<Alert type="warning">

If your repository contains private submodules using SSH protocole, you will need to add a secret beginning with GIT_SSH_KEY_, containing a private SSH key with access rights to your sumbodules repositories.

Secret names examples:

- GIT_SSH_KEY_GITHUB
- GIT_SSH_KEY_GITLAB
- GIT_SSH_KEY_MYAPP

</Alert>

#### Build Mode

#### Option 1: Buildpacks

To simplify the application build for the developer, Qovery supports [Buildpacks](https://buildpacks.io) out of the box. Buildpacks determine the build process for an app and which assets and runtimes should be made available to your code at runtime. If your complex apps are running multiple languages, you can also use multiple buildpacks within a single app.
Meaning, as a developer, you don't need to write a `Dockerfile` to build and run your app. Qovery Buildpacks takes care of everything for you.

**Supported languages**

| language   | version |
|------------|---------|
| Node.JS    | any     |
| Clojure    | any     |
| Python     | any     |
| Java       | any     |
| Gradle     | any     |
| JVM        | any     |
| Grails     | any     |
| Scala      | any     |
| Play       | any     |
| PHP        | any     |
| Go         | any     |

You don't find a cool language? [Suggest us to support it][urls.qovery_roadmap]

#### Option 2: Dockerfile

Qovery runs your application within the [Container technology](https://www.docker.com/resources/what-container). To build and run your application, you need to provide a valid [Dockerfile](https://docs.docker.com/engine/reference/builder).

```Dockerfile title="Valid NodeJS Dockerfile"
FROM node:13-alpine
RUN mkdir -p /usr/src/app
WORKDIR /usr/src/app
COPY . .
RUN npm install
EXPOSE 3000
CMD node ./bin/www
```

After creating a Dockerfile, specify the location of your Dockerfile in `Dockefile path` field.

<p align="center">
  <img src="/img/configuration/application/app-18.png" alt="Dockerfile" />
</p>

Configuration from above will make Qovery look for the Dockerfile in `/timescale/Dockerfile` path of your repository (`Root Application Path` + `Dockerfile Path`).

### Resources

#### CPU

To configure the number of CPUs that your app needs, adjust the setting in the `Resources` section of the application configuration.

<Alert type="info">

Default is 256m. The maximum you can set is 1CPU in **Community** version and unlimited in [paid plans][urls.qovery_pricing].

</Alert>

<p align="center">
  <img src="/img/configuration/application/app-13.png" alt="CPU" />
</p>

#### RAM

To configure the amount of RAM that your app needs, adjust the setting in `Resources` section of the application configuration.

<Alert type="info">

Default is 256MB, maximum you can set is 512MB in **Community** version, and unlimited in [paid plans][urls.qovery_pricing].

</Alert>

<p align="center">
  <img src="/img/configuration/application/app-14.png" alt="RAM" />
</p>

#### Auto-scaling

Application auto-scaling is based on real-time CPU consumption. When your app goes above 60% of CPU consumption for 5 minutes, your app will be auto-scaled and more instances will be added. It is transparent.
You can adjust the minimum and maximum of instances you need in your application settings. Qovery runs your application on Kubernetes and relies on [metrics-server](https://github.com/kubernetes-sigs/metrics-server) service to auto-scale your app.

### Dependencies

Qovery gives you the power to have multiple apps within one environment. Sometimes it's necessary to one or multiple apps before others.
By using the `Dependency` configuration, you can declare a list of apps your app is depending on.

<p align="center">
  <img src="/img/configuration/application/app-6.png" alt="Application Dependencies" />
</p>

Setting up application dependencies will make sure all the dependencies are running before your application starts.

### Storage

#### Block Storage

The default filesystem for applications running on Qovery is ephemeral. Application data isn’t persisted across deploys and restarts, which works just fine for most apps because they use managed databases to persist data.

However, many applications need persistent disk storage that isn’t ephemeral. These include:

* Blogging platforms and CMSs like WordPress, Ghost, and Strapi.
* Collaboration apps like Mattermost, GitLab, and Discourse.

This is where Qovery block Storage comes in. Qovery applications can use storage to store data that persists across deploys and restarts, making it easy to deploy stateful applications.

<Alert type="warning">

For most use cases, it is better to use [Object Storage][docs.using-qovery.configuration.object-storage] instead of Block Storage.

</Alert>

###### Use cases

###### ✅ Good use cases

- For I/O intensive applications (E.g. database)
- To store temporary files

###### ❌ Bad use cases

- To store file > 1 TB
- To expose files from an application (E.g. images)

##### Types of Block Storage

Qovery Storage supports:

|Type|Max IOPS|Max Throughput|Min Size|Max Size|Use cases|
|----|--------|--------------|--------|--------|---------|
|fast_ssd|64000|1GB/s|5GB|10GB `Community` / 1TB paid plans|Critical business applications that require sustained IOPS like databases|

##### Configuration

You can set up your Block Storage in `Storage` section of your application configuration.

<p align="center">
  <img src="/img/configuration/application/app-7.png" alt="Application Storage" />
</p>

### Ports

Most of the application needs to be accessed by other services inside or outside of your environment. To set up the access,
declare the ports your application uses. Internal ports are available internally inside your environment for other services to use.
You can also expose ports publicly - it makes them accessible over the public network.

<p align="center">
  <img src="/img/configuration/application/app-15.png" alt="Application Ports" />
</p>

<Alert type="info">
By default, newly created ports are publicly exposed over HTTPS. You can change this setting in the `Advanced` section.
</Alert>

<Alert type="info">
Qovery determines the readiness of your service based on the availability of the declared port. If your application does not open this port within 10 minutes, the associated container will be shut down
</Alert>

#### Exposing Applications

Before your application is exposed to the internet, Qovery needs to know what **PORT** to listen on to expose your app. Qovery does try to do it's best to do this automatically for you however, there are cases when we can't.

You can configure your application to use the **PORT** environment variable by adding the **PORT** on your application env variables page.

<Alert type="warning">

A Note on Listening IPs: It's best for your application to listen on `0.0.0.0:$PORT`. While most things work with `127.0.0.1` and `localhost`, some do not (NodeJS for example)

</Alert>

### Domains

`Domain` section of your application configuration allows you to define a custom domain for your application.

<p align="center">
  <img src="/img/configuration/application/app-16.png" alt="Application Domains" />
</p>

After setting up a custom domain, you'll see a `Value` that you need to set up as a `CNAME` record in your domain registrar.

<Alert type="info">

[We prepared a guide and video tutorial that explains how to set up your custom domain.][guides.getting-started.setting-custom-domain]

</Alert>

Setting up the `CNAME` on the domain provider side will make your app accessible through your custom domain on Qovery.

### Database

To access your database in your application, link it to your application in the `Database` section of your application configuration.

<p align="center">
  <img src="/img/configuration/application/app-10.png" alt="Application Databases" />
</p>

Linking the database to your app will make sure it's up and running before your application starts. It will also ensure that database secrets and other important information are injected as secrets into your application.

Example of secrets and environment variables injected into your app for the linked database:

#### Database Secrets

```
"QOVERY_DATABASE_MY_POSTGRESQL_DATABASE": "postgres"
"QOVERY_DATABASE_MY_POSTGRESQL_PASSWORD": "xxx"
"QOVERY_DATABASE_MY_POSTGRESQL_USERNAME": "superuser"
"QOVERY_DATABASE_MY_POSTGRESQL_PORT": "5432"
"QOVERY_DATABASE_MY_POSTGRESQL_FQDN": "my-postgresq-y1irp3nmdzj32yjl-svc.cnuxtlki1yn9.eu-west-3.rds.amazonaws.com"
"QOVERY_DATABASE_MY_POSTGRESQL_HOST": "my-postgresq-y1irp3nmdzj32yjl-svc.cnuxtlki1yn9.eu-west-3.rds.amazonaws.com"
"QOVERY_DATABASE_MY_POSTGRESQL_CONNECTION_URI_WITHOUT_CREDENTIALS": "postgresql://my-postgresq-y1irp3nmdzj32yjl-svc.cnuxtlki1yn9.eu-west-3.rds.amazonaws.com:5432/postgres"
"QOVERY_DATABASE_MY_POSTGRESQL_CONNECTION_URI": "postgresql://superuser:xxx@my-postgresq-y1irp3nmdzj32yjl-svc.cnuxtlki1yn9.eu-west-3.rds.amazonaws.com:5432/postgres"
"QOVERY_DATABASE_MY_POSTGRESQL_VERSION": "11.5"
"QOVERY_DATABASE_MY_POSTGRESQL_TYPE": "POSTGRESQL"
"QOVERY_DATABASE_MY_POSTGRESQL_NAME": "my-postgresql"
```

The built-in variables follow the naming pattern: `QOVERY_DATABASE` + <your_db_name> + <type_of_variable> where:

- `<your_db_name>` is the name of your database
- `<type_of_variable>` is the type of variable we inject, e.g. `PASSWORD`, `VERSION`, `CONNECTION_URI` and so on.

### Network

#### Persistent sessions

A user of your application will be redirected by the load balancer to the same instance each time he accesses to it.

<p align="center">
  <img src="/img/sticky-session.png" alt="Sticky session" />
</p>

## Advanced Settings

To further fine-tune your Qovery infrastructure at application level, you can set advanced settings through the Qovery API endpoint.

<Alert type="info">
Advanced settings are not available in the Qovery console yet.
</Alert>

The advanced settings currently available are:

|Advanced Setting|Type|Description|Use Case|
|--------------|---------|---------------------------|---------------------------|
|deployment.delay_start_time_sec|integer|Allows you to specify a waiting period, in seconds, between the application container start and the first application status check (`initialDelaySeconds` Kubernetes probe setting).|When an application is running but not completely available yet, scaling it up can become impossible, resulting in new deployment failures. In this case, allowing additional time for the application to start can resolve the issue. 

## Environment Variables

To learn how to set up environment variables in your projects and applications, navigate to [configuring Environment Variables][docs.using-qovery.configuration.environment-variable] section.

## Secrets

To learn how to set up secrets in your projects and applications, navigate to [configuring Secrets][docs.using-qovery.configuration.secret] section.

## Logs

To learn how to display your application logs, navigate to [logs section in our Debugging guide][guides.getting-started.debugging#logs]

## SSH

To connect to your application via SSH, please use the via the [Qovery SSH command][docs.using-qovery.interface.cli] available on our CLI.

## Update/ Rollback  an Application

<Steps headingDepth={3}>
<ol>
<li>

Navigate to [Console][urls.qovery_console]

</li>
<li>

Choose your application

</li>
<li>

In the application overview, click on the `Actions` button and `Rollback and Update`.

<p align="center">
  <img src="/img/configuration/application/rollback-update.png" alt="Application" />
</p>

</li>
<li>

Once you click, this panel will appear, and you will be able to choose the version you wish to update/rollback.

<p align="center">
  <img src="/img/configuration/application/rollback-update2.png" alt="Application" />
</p>

</li>
</ol>
</Steps>

## Delete an Application

<Steps headingDepth={3}>
<ol>
<li>

Navigate to [Console][urls.qovery_console]

</li>
<li>

Choose your application

</li>
<li>

In the application overview, click on the `Actions` button and remove the application.

<p align="center">
  <img src="/img/configuration/application/app-1.png" alt="Application" />
</p>

</li>
</ol>
</Steps>
