---
title: "Databases"
description: "Learn how to configure Databases on Qovery"
sidebar_label: hidden
hide_pagination: true
---
import Assumptions from '@site/src/components/Assumptions';

<Assumptions name="documentation">

You have created an [Environment][docs.using-qovery.configuration.environment].

</Assumptions>

Qovery provides access to the most popular SQL and NoSQL databases available on the major cloud providers. Reliability and resiliency are at the heart of their services, so you don't have to worry about your data on Qovery.

<Alert type="info">

Check out [this video guide][guides.getting-started.create-a-database] to create and deploy your first database

</Alert>

## Create a database

<Alert type="info">
Please note that this section presents the general setup of a database. Depending on the database you want to use, have a look at the dedicated sub-page to get more information on the supported versions or any other database specificities.
</Alert>

<Steps headingDepth={3}>
<ol>
<li>

Navigate to [Console][urls.qovery_console]

</li>
<li>

Select your project and environment

</li>

<li>

Click `Add Database` button

<p align="center">
  <img src="/img/configuration/database/db-1.png" alt="Database" />
</p>

</li>

<li>

Select database type, name, version, mode and accessibility

<Alert type="info">
Please refer to the Configuration section below to know more about each of these parameters.
</Alert>

<p align="center">
  <img src="/img/configuration/database/db-2.png" alt="Database" />
</p>

</li>

<li>

Deploy the database using `Action` deploy button

<p align="center">
  <img src="/img/configuration/database/db-3.png" alt="Database" />
</p>

</li>

</ol>
</Steps>

## Configuration

### General

#### Modes

Databases can operate in two modes:

- Managed
- Container

**Managed** databases are perfect for production - they are provided and managed by major cloud providers like AWS to make sure your production data is well managed.

**Container** databases are managed by Qovery as Docker containers with attached persistent storage. They are perfect for development and testing, as they are significantly cheaper than services provided by cloud providers.

Please refers to the dedicated database sub-pages to get more information on the supported mode for each of our database types.

<Alert type="warning">

Managed databases are supported only in [paid plans][urls.qovery_pricing], it's not available in the `Free` version.

</Alert>

#### Versions

Please refers to the dedicated database sub-pages to get more information on the supported versions and all database configuration specificities.

You can adjust the version of your database in `General` section of database settings:

<p align="center">
  <img src="/img/configuration/database/db-6.png" alt="Database Version" />
</p>

#### Accessibility

To make your database secure, you may decide not to expose it publicly.

- **Public** access will make your database accessible via the public network
- **Private** access will make your database accessible only by applications in your environment

You can configure the accessibility settings in `General` section of database settings:

<p align="center">
  <img src="/img/configuration/database/db-6.png" alt="Database Accessibility" />
</p>

### Resources

#### CPU

To tweak CPU configuration of your database, navigate to `Resource` section in database settings:

<p align="center">
  <img src="/img/configuration/database/db-4.png" alt="Database CPU" />
</p>

#### Memory

To tweak RAM configuration of your database, navigate to `Resource` section in database settings:

<p align="center">
  <img src="/img/configuration/database/db-5.png" alt="Database Memory" />
</p>

#### Storage

To tweak the disk space assigned to your database, navigate to `Resource` section in the database settings:

<p align="center">
  <img src="/img/configuration/database/db-7.png" alt="Database Storage" />
</p>

## Credentials

Qovery will inject all environment variables and secrets you need to connect your app to your database.
To see all the secrets injected for your application, see [database secrets section][docs.using-qovery.configuration.application#database-secrets].
To access your database from your application, [have a look at this section][docs.using-qovery.configuration.application#database].

## Delete your database instance

<Alert type="danger">

Delete action drops the service and its data!

</Alert>

<Steps headingDepth={3}>
<ol>
<li>

Navigate to [Console][urls.qovery_console]

</li>
<li>

Select your environment and database

</li>

<li>

In database overview, click on `Action` remove button

<p align="center">
  <img src="/img/configuration/database/db-8.png" alt="Database Remove" />
</p>

</li>
</ol>

## Available Databases
<%= subpages() %>


</Steps>
