---
title: "Domains"
description: "Learn how to configure custom Domains on Qovery"
---
import Alert from '@site/src/components/Alert';

## Qovery Domains (default)

Your application is publicly accessible via a Qovery domain as soon as you define it to be publicly accessible in `.qovery.yml` file:

```title=".qovery.yml" {4}
application:
  name: myapp
  project: test
  publicly_accessible: true
```

To get the domain that was assigned to your application, use the CLI:

```
$ qovery status
```

```plain title="OUTPUT"
BRANCHES NAME   STATUS          ENDPOINTS                       APPLICATIONS    DATABASES   BROKERS STORAGE
master          up and running  https://xxx-main-gtw.qovery.io  1               1           0       0

APPLICATIONS NAME   STATUS          ENDPOINTS                       DATABASES   BROKERS STORAGE
simple-example      up and running  https://yyy-xxx-app.qovery.io   1           0       0
```

## Custom Domains

You can use a custom domain name for any of your applications. Additionally, the domain name can be different in each environment (branch).

### Set a domain

```yaml title=".qovery.yml" {4-6}
...
routers:
- name: main
  custom_domains:
  - branch: master
    domain: my.domain.tld
  routes:
  - application_name: simple-example-node-with-postgresql
    paths:
    - /
```

Adding the highlighted lines like in the configuration file above exposes your application using your domain. Now commit and push your changes.

<Alert type="info">

Do not forget to commit and push your `.qovery.yml` changes to use your domain

</Alert>

### Validate a Domain

To use you domain, you have to confirm that it is yours. Execute the command `qovery domain list` to list all domains of your [environment][docs.environment]:

```bash title="List domains"
qovery domain list
```

```plain title="OUTPUT"
BRANCH | DOMAIN                                      | STATUS             | VALIDATION DOMAIN    | ROUTER NAME
master | node.deimos.fr                              | validation pending | xxx-yyy-zzz.acme.com | main
master | https://main-yenr7erjbs87dk4m-gtw.qovery.io | live               | none                 | main
```

Now, to validate a domain that is in `validation pending ` status, add a `CNAME` record that is targeting the `VALIDATION DOMAIN` - `xxx-yyy-zzz.acme.com`. After doing so, it takes
Qovery a few minutes to verify and complete the process. You can check the verification status using `qovery domain list`.


### See my domains

In order to know the custom domains existing on one of your applications, you can do it in 2 ways

#### Using the CLI:
```bash title="List domains"
qovery domain list
```

#### Using the Web UI

On the summary page of your application, if you have custom domains they will be listed in the "Custom domains" section:

<p align="center">
  <img src="/img/application-custom-domains.png" alt="Custom domains list" />
</p>
