---
title: "Environment"
description: "Learn how to configure your Environments on Qovery"
---
import Jump from '@site/src/components/Jump';
import Alert from '@site/src/components/Alert';
import Assumptions from '@site/src/components/Assumptions';

<Assumptions name="documentation">

You have created a [Project][docs.using-qovery.configuration.project].

</Assumptions>

An **Environment** is a group of [applications][docs.using-qovery.configuration.application] and [databases][docs.using-qovery.configuration.database] running within the same namespace. A [Project][docs.using-qovery.configuration.project] can have multiple **Environments**.

<Alert type="info">

Applications and databases from an Environment are isolated from other Environments.

</Alert>

## Types of environment

There are different types of environments that can be defined within Qovery. Types of environment are also called `mode`, to label it and share with others in the organization how to use it.
Here is the mode you should set depending of the use of your Environment.

| environment mode | recommended mode | why |
|-------------|------------------|-----|
| Production | Production environment should not be stopped or deleted by anyone. |
| Staging | Staging environment reflects how things work and is sometimes as critical as production for companies. |
| Development | Develoment environment is a working environment that could be used to develop and test new features and fixes. |

A special mode `Preview` exists and it is automatically set when a `Preview Environment` is created on a new pull request. Have a look at [this section](#preview-environment) to know more about preview environments.


## Create an environment

You can create a new environment by clicking on the `Create environment` button of the Environment list page. 

<p align="center">
  <img src="/img/environment/create_environment_1.png" alt="Create an environment" />
</p>

A modal will appear that will allow you to specify following parameters

* **name**: Give a name to your environment that is easily recognizable by anyone from your team. It is good practice to name your environment `production`, `main` or `master`, `staging`, `dev`, `fix/xxx`, `feat/xxx`, depending on the purpose of your environment.
* **mode**: Specify environment mode. See [Types of environment](#types-of-environment) section. If `automatic` is chosen, the mode will be automatically selected based on the configured deployment rules. See the [Project Deployment Rules section][docs.using-qovery.configuration.deployment-rule#project-deployment-rules]
* **cluster** : Specify the organization cluster on which this new environment will be deployed. If `automatic` is chosen, the cluster will be automatically selected based on the configured deployment rules. See the [Project Deployment Rules section][docs.using-qovery.configuration.deployment-rule#project-deployment-rules]

<p align="center">
  <img src="/img/environment/create_environment_2.png" alt="Create an environment - Modal" />
</p>

Once created you can start adding your services within it depending on your need:
- [Application][docs.using-qovery.configuration.application]: generic long-running workload
- [Cronjob][docs.using-qovery.configuration.cronjob]: scheduled task
- [Lifecycle Job][docs.using-qovery.configuration.lifecycle-job]: generic task to be executed at environment start/stop/delete.  
- [Database][docs.using-qovery.configuration.database]: managed or container database

<p align="center">
  <img src="/img/environment/create_service.png" alt="Create Service" />
</p>

## Editing the environment settings

You can access the environment settings by opening the `SETTINGS` tab.

<p align="center">
  <img src="/img/environment/environment_settings.png" alt="Environment settings tab" />
</p>

### General settings

On the `General` tab, you will be able to update your environment name. It will also display the environment mode and the cluster assigned to your environment.

<Alert type="info">

Please note that the associated cluster is not editable after the environment was provisioned. If you need to edit it, you have to [clone the environment](#clone-environment) on the desired cluster

</Alert>


### Deployment Rule

Using Deployment Rules is a good practice to drastically **reduce your cost**. To know more of the benefit of using them, have a look at the [Deployment Rules section][docs.using-qovery.configuration.deployment-rule].

A default deployment configuration is applied to your environment when it's created but you can modify it by:
- editing the deployment rules settings from within the environment settings tab
- creating a [dedicated rule at project level][docs.using-qovery.configuration.deployment-rule#project-deployment-rules] that will affect any new environment created and matching the condition. 

Below you can find the description of the deployment rule settings that can be modified for a specific environment

#### Auto-deploy

**Auto deploy** allows you to override the default settings applied by the project rule related to if your applications should be by default automatically updated after receiving new commits.

#### Auto-delete

**Auto-delete** feature allows you to control if your applications should be, by default, automatically deleted after branch merging or deletion.

#### Start & Stop

The start and stop section allow you to override the default settings applied by the project rule to precisely set up when the environment should be deployed and cleaned up.


### Deployment Pipeline

This section allows you to configure the deployment pipeline to be executed when a deployment on the environment is triggered. More in particular, you can define the deployment order of each service within your environment.

<p align="center">
  <img src="/img/environment/deployment_pipeline.png" alt="Deployment Pipeline" />
</p>

You can get more information about the Qovery deployment pipeline and how it works within [this section][docs.using-qovery.deployment.deployment-pipeline].

#### Editing deployment order

You can edit the order simply by drag and drop the service from one stage to another.

You can also modify the order of an entire stage by opening the `3 dots menu` of the stage and clicking on `Edit order`

#### Adding a new stage

You can add a new stage by pressing the `Add stage` button. A name and a description are required to create the new stage.

#### Editing deployment stage

You can modify the name and the description of a stage by opening the `3 dots menu` of the stage and clicking on `Edit order`


### Preview environment

> Use Preview Environment to get early feedback on your application changes by creating a dedicated environment for each of your pull requests.

The purpose of an Environment is to manage a bunch of applications that are working all together. Your production environment runs 24/7, where your other environments may not need to run all day long. E.g. you may need to run Environments to get early feedback on your application changes before the changes are merged into production. This is what we call **Preview Environment**.

<Alert type="success">

Check out [this step-by-step guide to get started with the Preview Environments][guides.tutorial.getting-started-with-preview-environments-on-aws-for-beginners]

</Alert>

> Sometimes **Preview Environment** are also known as **Ephemeral Environment**, **Temporary Environment**, **Development Environment**.

Creating a **Preview Environment** is similar to create a casual Environment.

<div class="video-container">
  <p align="center">
    <iframe src="https://www.loom.com/embed/146276efc71942a7a3d8fb44359e1470" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
    </iframe>
  </p>
</div>


<Alert type="info">

When you create a preview environment, Qovery automatically displays a message on the related pull request/merge request. This message provides you with a link to follow the deployment of your preview environment, as well as to open and use it:

<p align="center">
  <img src="/img/configuration/environments/Preview_Environment_Github_Bot_Message.png" alt="Preview Environment Github Bot Message" />
</p>

</Alert>

## Clone environment

Cloning an existing environnment is convenient for those use cases:
- Make a demo without impacting the original environment.
- Validate a feature on a dedicated environment.

Cloning an environment is possible directly from the 3 dots menu of your environment.

<p align="center">
  <img src="/img/environment/clone_environment.png" alt="Environment Clone" />
</p>

When cloning an environment, every configuration of the original environment will be copied except for:
- [Application custom domains][docs.using-qovery.configuration.application#domains]: custom domains are not cloned to avoid collision.
- [Application BUILT_IN variables][docs.using-qovery.configuration.environment-variable#built_in-variables]: Since completely new services will be create, the original built_in variables will be replaced. Aliases and overrides are preserved during the clone operation.

## Deploy an environment
Have a look at the [Deployment Management][docs.using-qovery.deployment.deployment-management] section for more information on how to deploy your environment.


## Delete an environment

<Alert type="danger">

This is a non-recoverable operation. By deleting your environment, all your running applications and data within the environment are deleted.

</Alert>

To delete your environment, you must go in the `settings` > `Danger zone` and delete your Environment.


