---
title: "Environment Variable & Secrets"
description: "Learn how to configure Environment Variables and Secrets on Qovery"
---

Qovery makes **Environment Variables** available to your services at runtime, as well as during builds and deploys.
If your projects and applications rely on sensitive data like credentials, API keys, certificates, the best way to store them is **Secrets**. The difference between
**Environment Variables** and Secrets is that Secrets are safely encrypted, and their values can not be retrieved via Qovery API - they are only accessible for your application during build and runtime.
Qovery automatically generates for you some special environment variable (called BUILT_IN) which allows you to setup your service interconnection.

<Alert type="info">

In the following document we will refer only to Environment Variable but the same logic is applicable to Secrets (differences will be explicitely written here)

</Alert>

Here is a short video to show how to use environment variables.

<div class="video-container">
  <p align="center">
    <iframe src="https://www.loom.com/embed/4a8000605cd842519a32eb96feecda61" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
    </iframe>
  </p>
</div>

# Environment Variable definition
An environment variable is composed by:
- A name: this is the name that you can use from within your code to access the variable
- A value: text or macro for interpolation (see the [interpolation section](#variables-interpolation))
- A scope: it defines the accessibility level of this variable: application, environment, project (see below) 
- A secret flag: it determines if the variable value needs to be encrypted and should be accessed ONLY by your applications (no access via the API/UI)

## Scopes
There are three scopes for the Environment Variables:

| Scope           | Level     | Description                                                                                                                                          |
|-----------------|-----------|------------------------------------------------------------------------------------------------------------------------------------------------------|
| **PROJECT**     | 1         | Variables at the project level are shared across all environments and all applications of the project                                                |
| **ENVIRONMENT** | 2         | Variables at the environment level are shared across all applications of the project in one, given environment                                       |
| **APPLICATION** | 3         | Variables available for one application in one environment                                                                                           |

## BUILT_IN variables
Qovery automatically generates some variables (called BUILT_IN) which allow you to easily configure your service interconnection or to access some of the environment/application information.

By default, every environment contains the following BUILT_IN variables:

| Name                        | Description            |
|-----------------------------|------------------------|
| **QOVERY_PROJECT_ID**       | Current project ID     |
| **QOVERY_ENVIRONMENT_ID**   | Current environment ID |
| **QOVERY_APPLICATION_ID**   | Current application ID |

For any service within your environment (database, application, job), your application get access to a set of BUILT_IN variables. These can be used, to configure the interconnection between your services.

**Naming Convention**:

We use the following naming convention for additional built-in variables:

```
QOVERY_<SERVICE_TYPE>_<SERVICE_ID>_<SPEC>
```

For more information on how to use the BUILT_IN environment variables to:
- connect to a database, have a look at [this section](#connecting-to-a-database).
- connect to another service, have a look at [this section](#connecting-to-another-application).


## Aliases and overrides
For a given environment variable, you can create aliases and overrides:
- Alias: it defines an alias for the environment variable. You can access its value by its original name or by its alias name. 
- Override: it overrides the value of the environment variable. Example: you have an environment variable with scope = project having a particular value but you want to define a special value only for one environment. Instead of creating a separate environment variable only for that project, you can create an override of that variable within the environment requiring the special value.

## Variables Interpolation
You can define an environment variable as a composition of text and other environment variables value (environment variables interpolation). 
For example, you can define your APP_URL environment variable as a composition of your HOST_URL and HOST_PORT in this way:
- Name = APP_URL
- Value = `https://{{HOST_URL}}:{{HOST_PORT}}`

Important information on this feature:
- the pattern used is `{{VAR_NAME}}`
- if a referenced variable doesn't exist, it is replaced by an empty string
- composition coherency using built in variables is kept when cloning an environment
- there is no check at creation / edition / deletion if the referenced variable doesn't exist
- "inner replacements" are not supported (e.g VAR_1 = {{VAR_2}} and VAR_2={{VAR_3}} )

## Naming Rules

* Environment variable name should use only alphanumeric characters and the underscore character (_) to ensure they are accessible from all programming languages. Environment variable keys should not include the hyphen character.
* Environment variable name should not begin with a double underscore (__).
* An environment variable’s name should not begin with QOVERY_ unless it is set by the Qovery platform itself.

## Create an Environment Variable

<Alert type="info">

Do you want to bulk import your Environment Variables or Secrets? [Check out this tutorial][guides.tutorial.import-your-environment-variables-with-the-qovery-cli]

</Alert>

<Steps headingDepth={3}>
<ol>
<li>

Navigate to [Console][urls.qovery_console]

</li>
<li>

Select your project, environment and application

</li>
<li>

Select `Environment Variables` tab in the left panel and click `New Variable` button:

<p align="center">
  <img src="/img/configuration/variables/var_creation_1.png" alt="Variables" />
</p>

</li>
<li>

Select the name, value and scope of your new environment variable

<p align="center">
  <img src="/img/configuration/variables/var_creation_2.png" alt="Variables" />
</p>

If the variable you are trying to create is a Secret, select the "Secret" checkbox

</li>
</ol>
</Steps>

## Delete an Environment Variable

<Steps headingDepth={3}>
<ol>
<li>

Navigate to [Console][urls.qovery_console]

</li>
<li>

Select your project, environment and application

</li>
<li>

Select the `Environment Variables` tab in the left panel

</li>
<li>

Select variable you want to delete and click the `Delete` button from the submenu:

<p align="center">
  <img src="/img/configuration/variables/var_delete.png" alt="Delete Variables" />
</p>

</li>
</ol>
</Steps>

## Update an Environment Variable

<Steps headingDepth={3}>
<ol>
<li>

Navigate to [Console][urls.qovery_console]

</li>
<li>

Select your project, environment and application

</li>
<li>

Select the `Environment Variables` tab in the left panel

</li>
<li>

Select variable you want to update and click the `Edit` button from the submenu:

<p align="center">
  <img src="/img/configuration/variables/var_edit.png" alt="Update Variables" />
</p>

</li>
<li>

Update the variable in the popup window

Note: if the variable is a Secret, you won't be able to see its value

</li>
</ol>
</Steps>

## Override Environment Variable

If you want to override a value of an environment variable, follow those steps:

<Steps headingDepth={3}>
<ol>
<li>

Navigate to [Console][urls.qovery_console]

</li>
<li>

Select your project, environment and application

</li>
<li>

Select the `Environment Variables` tab in the left panel

</li>
<li>

Select variable you want to override and click the `Override` button from the submenu

</li>
<li>

Select the override the variable and its scope in the popup window

</li>
</ol>
</Steps>\

<Alert type="warning">

You can only override environment variables of a higher scope, e.g. **Environment** scope variable can override **Project** variable, but can't override **Application** variable.

</Alert>

## Alias Environment Variable

You can create an alias for the existing environment variable.

Let's suppose that your application requires a `DATABASE_URL` variable. Qovery provides your application with the `QOVERY_DATABASE_MY_POSTGRESQL_3498225_URL` variable with a database password.
Instead of copy-pasting its value, you can create an alias to `QOVERY_DATABASE_MY_POSTGRESQL_3498225_URL`.

<Steps headingDepth={3}>
<ol>
<li>

Navigate to [Console][urls.qovery_console]

</li>
<li>

Select your project, environment and application

</li>
<li>

Select the `Environment Variables` tab in the left panel

</li>
<li>

Select variable you want to alias and click the `Alias` button from the submenu:

</li>
<li>

Define the alias of the variable and its scope in the popup window

</li>
</ol>
</Steps>

## Import environment variables

You can add a set of environment variables into Qovery by importing an `.env` file.  The `.env` file contains a list of your environment variables, in a `MY_KEY = VALUE` format.

To import environment variables into your Qovery environment, follow the steps below.

<Steps headingDepth={3}>
<ol>
<li>

On an application page, click on the `Environment variable` tabs > `Import` button.

<p align="center">
  <img src="/img/configuration/variables/import_1.png" alt="Import button" />
</p>

</li>
<li>

Drag & Drop the `.env` file into the modal, or click on the interface to open the file explorer.

</li>
<li>

The file is loaded and a new modal is displayed, where you can configure the import of your variables.

<p align="center">
  <img src="/img/configuration/variables/import_2.png" alt="Import configuration" />
</p>

**Overwrites variables**

When this option is enabled, if an existing variable and an imported variable share the same name, the existing value will be overwritten by the imported one.
If the option is disabled, the imported value will be ignored.
However, to avoid conflicts in the architecture of your environment variables, some of them will intentionally not be imported.
To understand how we handle conflicts, please take a look to the [Importation conflicts](#importation-conflicts) section.

**Configure variables import**

On this modal, you can define for each variable the following parameters:

- **name**: upate variable name
- **Value**: update variable value
- **Scope**: Specify the scope in which you want to import the variable
- **Secret**: Specify if this value is considered as a secret or not

**Preset variables**

To help you import a large number of variables quickly, you can predefine scope and secret settings.
This will change the scope and secret value of all listed variables.
If the secret and scope of one or more specific variables are subsequently updated, this will not change the predefined setting.

</li>
<li>

When you have finished the configuration, click on the `Import` button.

</li>
<li>

A pop-up message is displayed to inform you that your environment variables have been imported.

</li>
</ol>
</Steps>

### Importation conflicts

To avoid conflicts between already existing and imported environment variables, some of them will not be imported, even if the overwrite option is activated.
The different cases are described below.

#### Imported variable has same name as BUILT_IN variable

| Type       | Name            | Value     | Scope       |
|------------|-----------------|-----------|-------------|
| ** Existing variables **     |           |             |
| VALUE      | MY_VAR          | 42        | Built_in    |
| ** Variables to import **    |           |             |
| VALUE      | MY_VAR          | 10        | Application |

Built_in environment variables are generated and managed by Qovery and will not be overwritten, even if the `overwriting` option is activated.

#### Imported variable has same name as an existing ALIAS

| Type       | Name            | Value     | Scope       |
|------------|-----------------|-----------|-------------|
| ** Existing variables **     |           |             |
| VALUE      | MY_VAR          | 42        | Environment |
| ALIAS      | MY_VAR_ALIAS    | MY_VAR    | Application |
| ** Variables to import **    |           |             |
| VALUE      | MY_VAR_ALIAS    | 10        | Application |

The value cannot be rewritten because the link between the original variable and the alias would be lost.

#### Imported variable has same name as an existing secret (or vice versa)

| Type       | Name            | Value     | Scope       | Secret     |
|------------|-----------------|-----------|-------------|------------|
| ** Existing variables **     |           |             |            |
| VALUE      | MY_VAR          | 1         | Application | Ye         |
| ** Variables to import **    |           |             |            |
| VALUE      | MY_VAR          | 2         | Application | No         |

The value cannot be imported because this will overwrite the existing secret.

### Overwriting and limitations

Some overwriting cases are not supported for now. They are summarized in the following table.

| Existing variable scope      | Imported variable scope               | Supported  |
|------------------------------|---------------------------------------|------------|
| PROJECT                      | PROJECT / ENVIRONMENT / APPLICATION   | YES        |
| ENVIRONMENT                  | PROJECT                               | NO         |
| ENVIRONMENT                  | ENVIRONMENT / APPLICATION             | YES        |
| APPLICATION                  | PROJECT / ENVIRONMENT                 | NO         |
| APPLICATION                  | APPLICATION                           | YES        |

## Service interconnection

### Connecting to a database

To access a database managed by Qovery from your application, you can use the BUILT_IN environment variables and secrets that have been automatically created by Qovery during the database creation process. You can find all the BUILT_IN variables on the Qovery console within the Environment Variable section of your application ([see the credentials and connectivity section for the full list][docs.using-qovery.configuration.database#credentials-and-connectivity]).

In order to match the naming convention of the database connection variables used within your code, you can [create an alias][docs.using-qovery.configuration.environment-variable#alias-environment-variable] for each variable in the Qovery console so that you don't need to change your code.

Once you have defined an alias for each variable, you can redeploy the application and check that it has finally access to the database.

#### Example
You have created a postgres database on the Qovery console. Within the code of your application you need some environment variables containing the connection parameters of the database: DATABASE_URL, DATABASE_USER, DATABASE_PASSWORD, DATABASE_PORT, DATABASE_NAME

```python title="example.py"
DB_NAME = os.getenv("DATABASE_NAME", "nemo")
DB_USER = os.getenv("DATABASE_USER", "nemo")
DB_PASSWORD = os.getenv("DATABASE_PASSWORD", "password")
DB_HOST = os.getenv("DATABASE_HOST", "localhost")
DB_PORT = os.getenv("DATABASE_PORT", "5432")
```

To match your internal naming convention, you can create aliases for each of the corresponding variables in this way:

<p align="center">
  <img src="/img/configuration/variables/database_alias.png" alt="Env Var Aliases" />
</p>

### Connecting to another application

To access another application managed by Qovery, you can use the BUILT_IN environment variables that have been automatically created by Qovery during the creation of that particular application. You can find all the BUILT_IN variables on the Qovery console within the Environment Variable section of your application.

Please note that two BUILT_IN might exist:
- `QOVERY_APPLICATION_<APPID>_HOST_INTERNAL` : it contains the INTERNAL host of the application that can be used inside your Kubernetes cluster (and thus by any application running on it)
- `QOVERY_APPLICATION_<APPID>_HOST_EXTERNAL` : it contains the EXTERNAL host of the application that can be used to reach your application from outside your Kubernetes cluster (if the application is publicly exposing one of its ports)

In order to match the naming convention of the connection variables used within your code, you can [create an alias][docs.using-qovery.configuration.environment-variable#alias-environment-variable] for the HOST_INTERNAL variable so that you don't need to change your code.

Once you have defined an alias for each variable, you can redeploy the application and check that it can reach the other application.

#### Example
You have created a backend application on the Qovery console and a BUILD_IN variable has been created containing the application HOST called `QOVERY_APPLICATION_Z9D8DAA08_HOST_INTERNAL`. Within the code of your front-end application you need some environment variables containing the host of the backend application (BACKEND_HOST)

To match your internal naming convention, you can create alias for the corresponding variable in this way:

<p align="center">
  <img src="/img/configuration/variables/host_alias.png" alt="Env Var Aliases" />
</p>