---
title: "Environment"
description: "Learn how to configure your Environments on Qovery"
---
import Jump from '@site/src/components/Jump';
import Alert from '@site/src/components/Alert';
import Assumptions from '@site/src/components/Assumptions';

<Assumptions name="documentation">

You have created a [Project][docs.using-qovery.configuration.project].

</Assumptions>

An **Environment** is a group of [applications][docs.using-qovery.configuration.application] and [databases][docs.using-qovery.configuration.database] running within the same namespace. A [Project][docs.using-qovery.configuration.project] can have multiple **Environments**.

<Alert type="info">

Applications and databases from an Environment are isolated from other Environments.

</Alert>

## Create an environment

You can create a new environment by clicking on the `Create environment` button of the Project page. A modal will appear that will allow you to specify following parameters

* **name**: Give a name to your environment that is easily recognizable by anyone from your team. It is good practice to name your environment `production`, `main` or `master`, `staging`, `dev`, `fix/xxx`, `feat/xxx`, depending on the purpose of your environment.
* **mode**: Specify environment mode. See [Types of environment](#types-of-environment) section. 
* **cluster** : Specify the organization cluster on which this new environment will be deployed. 

<p align="center">
  <img src="/img/create-env.png" alt="Create an environment" />
</p>

### Deployment rules and automatic option. 

By default, `mode` and `cluster` parameters are set as "automatic". 

If `Automatic` option is specified for one or both of these parameters, deployment rules will automatically select the `cluster` and the `mode` you specified in it.

If you chose to specify a cluster and/or a mode during the environment creation, the deploymment rules will also be applied, but the `cluster` and the `mode` will be overwritten by the one you just specified. 

If you let `Automatic` option and that no deployment rule catch this new environment, the default `mode` and `cluster` will be applied. 

<p align="center">
  <img src="/img/create-env-auto.png" alt="Create an environment" />
</p>

<Alert type="info">

To learn more about the deployment rules, take a look to the [See the Deployment Rule section](#deployment-rules).

</Alert>

When you start using Qovery heavily, your environment list can look like this

<p align="center">
  <img src="/img/environment_list.png" alt="List of environments" />
</p>

## Edit environment general settings

General settings of an environment can be updated in the settings panel. Your can access to it by clicking on the `SETTINGS` button.

<p align="center">
  <img src="/img/env-setting-button.png" alt="Environment settings button" />
</p>

On the `General` tab, you will be able to update your environment name. It will also display the environment mode and the cluster assigned to your environment.

<p align="center">
  <img src="/img/env-setting-panel.png" alt="Environment settings button" />
</p>

<Alert type="info">

Please note that environment type and associated cluster are not editable after the environment was provisioned.

Refer to the [Types of environment](#types-of-environment) section below to learn more about environment modes.

</Alert>

## Preview environment

> Use Preview Environment to get early feedback on your application changes.

The purpose of an Environment is to manage a bunch of applications that are working all together. Your production environment runs 24/7, where your other environments may not need to run all day long. E.g. you may need to run Environments to get early feedback on your application changes before the changes are merged into production. This is what we call **Preview Environment**.

<Alert type="info">

Sometimes **Preview Environment** are also known as **Ephemeral Environment**, **Temporary Environment**, **Development Environment**;

</Alert>

Creating a **Preview Environment** is similar to create a casual Environment.

<div class="video-container">
  <p align="center">
    <iframe src="https://www.loom.com/embed/146276efc71942a7a3d8fb44359e1470" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
    </iframe>
  </p>
</div>

## Build and Deployment logs

Sometimes, you need to have a closer look on what is going on while an operation (see [statuses](#environment-statuses) below) is in progress.

<div class="video-container">
  <p align="center">
    <iframe src="https://www.loom.com/embed/245b2e7e72d548a6b412899df94e7223" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
    </iframe>
  </p>
</div>

Click on the `show logs` button to watch your deployment logs in real-time.

<p align="center">
  <img src="/img/environment_deployment_logs.jpg" alt="Environment deployment logs" />
</p>

## Clone environment

Cloning an environment is possible if you want to create an Environment from another one.


<p align="center">
  <img src="/img/environment_actions_dropdown.jpg" alt="Environment actions dropdown" />
</p>

Environment clone is convenient for those use cases:
- Make a demo without impacting the original Environment.
- Validating a feature that needs to reflect the original Environment.

## Update an Environment

<Steps headingDepth={3}>
<ol>
<li>

Navigate to [Console][urls.qovery_console]

</li>
<li>

Choose your environment

</li>
<li>

In the environment overview, click on the `Actions` button and `Update all`.

<p align="center">
  <img src="/img/configuration/application/update-all.png" alt="Application" />
</p>

</li>
<li>

Once you click, this pannel will appear and you will be able to select the environments you wish to update.

<p align="center">
  <img src="/img/configuration/application/update-all2.png" alt="Application" />
</p>

</li>
</ol>
</Steps>

## Types of environment

You can define a specific mode for an environment, to label it and share with others in the organization how to use it.
Here is the mode you should set depending of the use of your Environment.

| environment mode | recommended mode | why |
|-------------|------------------|-----|
| production | Production environment should not be stopped or deleted by anyone. |
| Staging | Staging environment reflects how things work and is sometimes as critical as production for companies. |
| Development | Develoment environment is a working environment that could be used to develop and test new features and fixes. |

Moreover, Preview environment mode will be automatically set as `Preview`.

## Advanced features

It is possible to go beyond than the basic configuration for an Environment. Here is a list of advanced features available for your environments.

### Auto-Deploy environment

Auto-Deploy environment feature allows you to control if your applications should be, by default, automatically updated after receiving new commits. This feature is part of the [Environment deployment rules][docs.using-qovery.configuration.deployment-rule] feature.

### Auto-delete environment

Auto-delete environment feature allows you to control if your applications should be, by default, automatically deleted after branch merging or deletion. This feature is part of the [Environment deployment rules][docs.using-qovery.configuration.deployment-rule] feature.

## Environment statuses

An Environment is a machine-state. Here is a list of the different statuses that your Environment can get.

<Alert type="info">

To get more details on what is going on - check out your environment [deployment logs](#build-and-deployment-logs).

</Alert>

| state | description |
|--------|-------------|
| READY | Your environment has been initialized and is ready to received its first applications |
| QUEUED | A deployment task has been received and your environment is about deploying it. The task has been queued and can take some times to be processed. |
| BUILDING | The build of one or several application(s) of your environment is in progress |
| BUILD_ERROR | Something goes wrong during the build of your applications or databases |
| BUILT | One or several application(s) of your environment are built |
| DEPLOYING | The deployment of one or several application(s) of your environment is in progress |
| DEPLOYMENT_ERROR | Something goes wrong during the deployment of your applications or databases |
| DEPLOYED | One or several application(s) of your environment are deployed |
| STOPPING | The shutdown of one or several application(s) of your environment is in progress |
| STOP_ERROR | Something goes wrong during the shutdown of your applications or databases |
| STOPPED | One or several application(s) of your environment are stopped |
| DELETING | The deletion of one or several application(s) of your environment is in progress |
| DELETE_ERROR | Something goes wrong during the deletion of your applications or databases |
| DELETED | One or several application(s) of your environment are deleted |
| RUNNING | Your applications and databases are running |
| RUNNING_ERROR | Something goes wrong during the run of your applications |

## Deployment rules

The **Deployment Rules** lets you configure the lifecycle of your [Environments][docs.using-qovery.configuration.environment].

<Alert type="info">

Using **Deployment Rules** is a good practice to reduce your cost up to 60%.

</Alert>

Refer to the [Deployment Rule][docs.using-qovery.configuration.deployment-rule] documentation to know more.

## Deployments history

You can easily access to the deployments history of your environment by clicking on deployment `history button` in `Action` menu.

<p align="center">
  <img src="/img/deployment-history-access.png" alt="Deployment history button access" />
</p>

This page allows you to view the history of all previous deployments of your environment and their status. By clicking on the extension button, you will also be able to view the services deployed in the environment and their deployment status.

<p align="center">
  <img src="/img/deployment-history.png" alt="Deployment history list" />
</p>

## Cancel an environment deployment 

It may happen that you launch an unwanted deployment (setting error, wrong commit deployed, etc.) and you want to cancel the deployment, rather than waiting for the action to be completed and then performing a rollback, which can be time consuming. 

To cancel a deployment, click on `Cancel deployment` in the `Action` menu of your environment. 

<p align="center">
  <img src="/img/cancel-deployment.png" alt="Cancel deployment Action button" />
</p>

<Alert type="info">

A deployment can be cancelled only if the application is in the building step. If you try to cancel a deployment while the application has already been built, the cancel operation will fail and the deployment will continue.

</Alert>

## Delete an environment

<Alert type="danger">

This is a non-recoverable operation. By deleting your environment, all your running applications and data within the environment are deleted.

</Alert>

To delete your environment, you must go in the `settings` > `Danger zone` and delete your Environment.

<p align="center">
  <img src="/img/env-danger-zone.png" alt="Environment danger zone" />
</p>
