---
last_modified_on: "2020-08-31"
title: "Organization"
description: "Learn how to configure Organizations on Qovery"
---
import Assumptions from '@site/src/components/Assumptions';

An organization is a shared account where developers can collaborate across many projects at once. Owners and organization administrators
can manage:

- cloud accounts.
- members access.
- the billing.

<Assumptions>

* You have a [Qovery][docs.using-qovery.interface] account

</Assumptions>

## Create an Organization

You need to create an organization the first time you use Qovery. You have to choose between the **Community**, **Startup** and **
Enterprise** plan.

<p align="center">
  <img src="/img/create_organization.png" alt="Qovery - create an organization" />
</p>

### How to choose between plans?

In a nutshell, use the **Community** plan to host your app for free ([see limitations][urls.qovery_pricing]), use the **Startup** or **
Enterprise** plan to host your apps on your Cloud account without any limitations.

## Connect your Cloud account

<Alert type="info">

This feature is only valid for paid plans -> **Startup** and **Enterprise** plans

</Alert>

Check out [this documentation][docs.using-qovery.configuration.cloud-service-provider] according to the Cloud service provider that you want
to use.

## Organization members

You can invite someone to join your organization by email. Then he will get access to your projects and will be able to contribute.

<p align="center">
  <img src="/img/organization_members.png" alt="Qovery - List all members within an organization" />
</p>

### Roles

Four roles within an organization exist:

| Action | Owner | Admin | Developer | Viewer |
|--------|-------|-------|-----------|--------|
| Read organization | yes | yes | no | no |
| Edit organization | yes | yes | no | no |
| Delete organization | yes | no | no | no |
| Manage billing | yes | yes | no | no | no |
| Invite members | yes | yes | no | no | no |
| Read project | yes | yes | yes | yes | yes |
| Edit project | yes | yes | yes | no |
| Delete project | yes | yes | no | no |
| Read environment | yes | yes | yes | yes |
| Edit production environment | yes | yes | no | no |
| Edit development environment | yes | yes | yes | no |
| Stop production environment | yes | yes | no | no |
| Stop development environment | yes | yes | yes | no |
| Delete production environment | yes | yes | no | no |
| Delete development environment | yes | yes | yes | no |
| Read application | yes | yes | yes | yes |
| Edit production application | yes | yes | no | no |
| Edit development application | yes | yes | yes | no |
| Delete production application | yes | yes | no | no |
| Delete development application | yes | yes | yes | no |
| Read database | yes | yes | yes | no |
| Edit production database | yes | yes | no | no |
| Edit development database | yes | yes | yes | no |
| Delete production database | yes | yes | no | no |
| Delete development database | yes | yes | yes | no |

## Change organization

As a user, you can have access to one or many organizations. Use the dropdown in the top right navbar to change your organization.

<p align="center">
  <img src="/img/change_organization.png" alt="Qovery - change organization" />
</p>

## Delete organization

<Alert type="danger">

This is a non-recoverable operation. By deleting your organization, all your data are deleted.

</Alert>

To delete your organization, you need to go into the **Danger Zone** within your organization settings.

<p align="center">
  <img src="/img/delete_organization.png" alt="Qovery - delete organization" />
</p>
