---
title: "Organization"
description: "Learn how to configure Organizations on Qovery"
sidebar_label: hidden
---
import Assumptions from '@site/src/components/Assumptions';

<Assumptions name="documentation">

* You have a [created an account][docs.using-qovery.interface].

</Assumptions>

An organization is a shared account where developers can collaborate across many projects at once. Owners and organization administrators
can manage every aspect of the organization, from the clusters up to the member access. 

## Creating an Organization

When signing up for Qovery, you need to create an organization. You can choose between 4 plans: **Free**, **Professional**, **Business** and **Enterprise**:

<p align="center">
  <img src="/img/configuration/organization/Qovery_Pricing_Plans.png" alt="Qovery Pricing Plans" />
</p>

For more information, see [our pricing page] [urls.qovery_pricing].

Once you have chosen a plan, you need to sign in through your Git provider (Github, Gitlab or Bitbucket). Your organization is then created. 

To  manage your organization settings from the [Qovery Console][urls.qovery_console], click the cogwheel icon on the top right of the screen:

<p align="center">
  <img src="/img/configuration/clusters/Organization_Settings_Access_Button.png" alt="Organization Settings Access" />
</p>

In the `General Information` tab:

* **Company name**: enter the name of your company.
* **Description**: enter a description of your organization.
* **Website**: enter the website of your company.
* **Admin contact emails**: enter one or several email adresses (separated by commas) on which you want to receive important communications from Qovery.

<Alert type="info">

We will **only** use your admin contact email details to send you communications about infrastructure outages, maintenance updates, and weekly and monthly usage reports.

</Alert>

Don't forget to click `Update` to save your organization information!
       
## Change an Organization

As a user, you can have access to one or many organizations. Use the dropdown on the bottom left of the navbar to change your organization.

<p align="center">
  <img src="/img/configuration/organization/change_organization.png" alt="Qovery - change organization" />
</p>

## Delete an Organization

<Alert type="danger">

This is a non-recoverable operation. By deleting your organization, all your data are deleted.

</Alert>

To delete your organization, you need to go into the **Danger Zone** within your organization settings.


## Billing

This section allows you to retrieve your invoices and as well manage the credit card used for the payments.

<Alert type="info">

To know more on how much Qovery costs - see our [pricing page][urls.qovery_pricing].

</Alert>

## Organization admin settings

You can access the organization settings using the `Wheel` button on the left nav bar

<p align="center">
  <img src="/img/configuration/organization/access_settings.png" alt="How to access your organization settings" />
</p>

You can find below a dedicated page for each of the admin settings that can be managed within this section.

<%= subpages() %>