---
title: "Project"
description: "Learn how to configure your Projects on Qovery"
---
import Jump from '@site/src/components/Jump';
import Assumptions from '@site/src/components/Assumptions';

A project allows you to group together a set of environments with the objective to run the same application (see the [Environment][docs.using-qovery.configuration.environment] page for more information).

When creating a new organization, a project is created by default. You can customize the access to your project thanks to our [RBAC system][docs.using-qovery.configuration.organization.members-rbac#roles-based-access-control-rbac].

<Assumptions name="documentation">

* You have created an [Organization][docs.using-qovery.configuration.organization]

</Assumptions>

## Create a new project

If you need to create an additional project, go into the organization settings and press on the `NEW` button.

<p align="center">
  <img src="/img/configuration/project/project_creation.png" alt="Project Creation" />
</p>

The modal will ask you to provide a name and a description.

## Edit project general information

General information of a project can be updated by:
- opening the settings page
- selecting the project
- opening the `GENERAL` section. 

<p align="center">
  <img src="/img/configuration/project/project_update.png" alt="Project Update" />
</p>


## Delete a project

<Alert type="danger">

This is a non-recoverable operation. By deleting your project, all your running applications and data within the project are deleted.

</Alert>

You can delete a project by:
- opening the settings page
- selecting the project
- opening the `DANGER` section and pressing the `Delete Project` button. 

<p align="center">
  <img src="/img/configuration/project/project_delete.png" alt="Project Delete" />
</p>

