---
title: "Project"
description: "Learn how to configure your Projects on Qovery"
---
import Jump from '@site/src/components/Jump';
import Assumptions from '@site/src/components/Assumptions';

A project allows you to group a set of applications and their dependencies (databases & other services).

<Assumptions name="documentation">

* You have created an [Organization][docs.using-qovery.configuration.organization]

</Assumptions>

## Create a project

<p align="center">
  <img src="/img/qovery_empty_state_project_list.png" alt="Qovery - project list with empty state" />
</p>

To create a project you simply need to provide a name. It is also possible to provide a description afterwards.

### Demo project

If you have no project to deploy but still want to give a try to Qovery, you can create a demo project.

## Delete a project

<Alert type="danger">

This is a non-recoverable operation. By deleting your project, all your running applications and data within the project are deleted.

</Alert>

<p align="center">
  <img src="/img/delete_project.png" alt="Qovery - delete a project" />
</p>

## Deployment rules

The **Deployment Rules** lets you configure the lifecycle of your [Environments][docs.using-qovery.configuration.environment].

<Alert type="info">

Using **Deployment Rules** is a good practice to reduce your cost up to 60%.

</Alert>

Refer to the [Deployment Rule][docs.using-qovery.configuration.deployment-rule] documentation to know more.

## Addons

TODO
