---
title: "Project"
description: "Learn how to configure Projects on Qovery"
---
import Jump from '@site/src/components/Jump';

A project allows you to group a set of applications and their dependencies (databases & other services).

<Assumptions>

* You have created an [organization][docs.using-qovery.configuration.organization]

</Assumptions>

## Create a project

<p align="center">
  <img src="/img/qovery_empty_state_project_list.png" alt="Qovery - project list with empty state" />
</p>

To create a project you simply need to provide a name. It is also possible to provide a description afterwards.

### Demo project

If you have no project to deploy but still want to give a try to Qovery, you can create a demo project.

## Delete a project

<p align="center">
  <img src="/img/delete_project.png" alt="Qovery - delete a project" />
</p>
