---
title: "User Account"
description: "Learn how to manage your user account on Qovery"
---
import Jump from '@site/src/components/Jump';
import Alert from '@site/src/components/Alert';
import Assumptions from '@site/src/components/Assumptions';

You can manage a few settings linked to your account from the `User Account` section.

To access this section, you have to:
1. click on the user icon on the bottom left side
2. click on your user 

<p align="center">
  <img src="/img/configuration/user/access_user_account.png" alt="Access user account" />
</p>


### General account settings

This section shows you some basic information about your account like:
- First name: retrieved from your git account, it can't be changed.
- Last name: retrieved from your git account, it can't be changed.
- Account email: retrieved from your git account, it can't be changed.
- Communication email: this email will be used by Qovery to communicate you any update or issue ongoing on the product. Make sure to set the communication email with a valid email adress

<Alert type="info">

By default Qovery uses your account email to share with you important updates on the product. Make sure to set the communication email with your professional email address!

</Alert>