---
$schema: "/.meta/.schemas/guides.json"
title: Hello World. Deploy your first application.
description: How to deploy your first application with Qovery
series_position: 1
author_github: https://github.com/evoxmusic
tags: ["type: guide", "technology: qovery"]
---
import Steps from '@site/src/components/Steps';
import Alert from '@site/src/components/Alert';
import CodeExplanation from '@site/src/components/CodeExplanation';
import Assumptions from '@site/src/components/Assumptions';

Qovery is an easy way to deploy a full-stack application. Meaning, you can deploy a backend, frontend and a database seamlessly. In this guide, I'll show you how to deploy a template app.

<Assumptions>

* You have a [Github][urls.github], [Gitlab][urls.gitlab] or [Bitbucket][urls.bitbucket] account

</Assumptions>

## Step-by-step tutorial
<Steps headingDepth={3}>

<ol>

<li>

### Sign up

<%= qovery_sign_up_web() %>

</li>

<li>

### Install Qovery on your AWS account

<Alert type="info">

Do you want to deploy your apps on another cloud service provider than AWS? Click [here][guides.advanced]

</Alert>

<%= qovery_install_cluster_aws() %>

</li>

<li>

### Deploy your first application

<%= qovery_deploy_app_web() %>

<Alert type="success">

That's it! your application is now deployed on your AWS account 💪

</Alert>

</li>

</ol>
</Steps>

## Next Steps

To deploy your application, it's as simple as that. In the following article, we will see how to add a database. Let's get started!

<%= subpages() %>
