---
$schema: "/.meta/.schemas/guides.json"
title: How to create an RDS instance through the AWS console
description: How to create an RDS instance through the AWS console.
author_github: https://github.com/l0ck3
tags: ["type: tutorial", "installation_guide: aws"]
hide_pagination: true
---

import Alert from '@site/src/components/Alert';
import Assumptions from '@site/src/components/Assumptions';
import Jump from '@site/src/components/Jump';

Qovery make it easy to create an RDS database on AWS with a few clicks. You might however want to create your own RDS instance in a separate VPC. For example in case you want to use the same instance with several Qovery clusters.

<Assumptions name="guide">

- You have an AWS account.

</Assumptions>

## Goal

This tutorial will show you how to create an production-ready RDS PostgreSQL instance on AWS.

To connect your Qovery cluster(s) to the created RDS database, refer to [this tutorial][guides.tutorial.aws-vpc-peering-with-qovery]

<Steps headingDepth={3}>

<ol>

<li>

#### Create RDS database

Go to the AWS RDS console and click `Create database`

<p align="center">
  <img src="/img/how-to-create-an-rds-instance-through-aws-console/1.png" alt="AWS RDS console" />
</p>

</li>

<li>

#### Select your database type

- We will need to create a dedicated VPC, so select `Standard create`.
- Then chose your database type (we'll use PostgreSQL for our example) and the version.
- Since we're creating a production database, we'll select the `Production` template. You can pick `Dev/Test` template for non-production environments.

<p align="center">
  <img src="/img/how-to-create-an-rds-instance-through-aws-console/2.png" alt="AWS RDS console" />
</p>

</li>

<li>

#### Settings

Select a name for your RDS instance, here `my-production-database`, master username and password.

<p align="center">
  <img src="/img/how-to-create-an-rds-instance-through-aws-console/3.png" alt="AWS RDS console" />
</p>

</li>

<li>

#### Instance class

Pick an instance class that works for your needs.
You can refer to this document for more information about the different options: https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Concepts.DBInstanceClass.html

<p align="center">
  <img src="/img/how-to-create-an-rds-instance-through-aws-console/4.png" alt="AWS RDS console" />
</p>

</li>

<li>

#### Storage

`General Purpose SSD` should be the right option for most cases.
Chose the allocated storage that fits the needs of your application. We also advise you to `Enable storage autoscaling` in case you need more storage over time.

<p align="center">
  <img src="/img/how-to-create-an-rds-instance-through-aws-console/5.png" alt="AWS RDS console" />
</p>


</li>

<li>

#### Availability & durability

For a production setup you should `Create a standby instance`. For non-production usecase you can avoid it to reduce costs.

<p align="center">
  <img src="/img/how-to-create-an-rds-instance-through-aws-console/6.png" alt="AWS RDS console" />
</p>


</li>

<li>

#### Connectivity

- Since we want the database to live in it's own VPC, make sure to select the `Create new VPC` option.
- Also select `Create new DB Subnet Group`.
- We advise you to disable `Public access` for security reason. We'll setup VPC peering in the next guide to allow access from your Qovery clusters through private networking.
- Finally chose `Create new` security group and give it a name.

<p align="center">
  <img src="/img/how-to-create-an-rds-instance-through-aws-console/7.png" alt="AWS RDS console" />
</p>


</li>

<li>

#### Database authentication and estimated costs

Chose `Password authentication`.

<p align="center">
  <img src="/img/how-to-create-an-rds-instance-through-aws-console/8.png" alt="AWS RDS console" />
</p>

You can then click on `Create database`

</li>

<li>

#### Database creation

You should see your new RDS instance in the list of databases, with the `Creating` status.

<p align="center">
  <img src="/img/how-to-create-an-rds-instance-through-aws-console/9.png" alt="AWS RDS console" />
</p>


</li>

<li>

####  Name your RDS VPC

The VPC created for the new RDS database will be named `-`. For convenience you should rename it.

Click on your database in the list, then on the VPC id.

<p align="center">
  <img src="/img/how-to-create-an-rds-instance-through-aws-console/10.png" alt="AWS RDS console" />
</p>

You will be redirected to the VPCs list, filtered on the VPC id. Click on the edit icon in the `Name` column, and give it a meaningful name.

<p align="center">
  <img src="/img/how-to-create-an-rds-instance-through-aws-console/11.png" alt="AWS RDS console" />
</p>

<p align="center">
  <img src="/img/how-to-create-an-rds-instance-through-aws-console/12.png" alt="AWS RDS console" />
</p>

</li>

</ol>
</Steps>

## Conclusion

Your RDS database is ready. Now in order to access it from your Qovery cluster, we will need to setup VPC peering. You can find the procedure in [this tutorial][guides.tutorial.aws-vpc-peering-with-qovery]
