---
title: Deployment
description: "Everything you need to know about the deployment of your applications with Qovery"
sidebar_label: hidden
hide_pagination: true
---
In the following subsections, you'll find all the information about the deployment management with Qovery.

The deployment has the end goal to create the resources necessary to run your applications on your cloud account, based on the configuration you have done on the Qovery console.

<p align="center">
  <img src="/img/deployment/deployment_overview_qovery.png" alt="Deployment history access" />
</p>

Qovery provides you with:
- A configurable `Deployment Pipeline` which defines the deployment execution order when the deployment of an environment is triggered. See [this section][docs.using-qovery.deployment.deployment-pipeline] for more information.
- A set of `Deployment Actions` which allows you to manage the deployment lifecycle of your applications and environments. See [this section][docs.using-qovery.deployment.deployment-actions] for more information.
- A `Continuous Deployment` integration in case you want to manage the deployment of you applications via your CI/CD. See [this section][docs.integration.continuous-integration] for more information.
- A `Deployment History` section to get all the information about the past deployments. See [this section][docs.using-qovery.deployment.deployment-history] for more information.
- A `Deployment Status` and a `Running Status` to monitor the status of your services and environments. See [this section][docs.using-qovery.deployment.running-and-deployment-statuses] for more information.
- A `Logs` interface to retrieve the deployment logs of your application and as well its logs in real-time. See [this section][docs.using-qovery.deployment.logs] for more information.
