---
title: Troubleshoot
description: "Everything you need to troubleshoot your application with Qovery"
sidebar_label: hidden
hide_pagination: true
---

<Alert type="info">

In this guide, you'll find common mistakes, and how to resolve them. If you don't find what you need here, [please use the forum](https://discuss.qovery.com/).

</Alert>

# Common application deployment issues

## Liveness/Readiness failed, connect: connection refused

If you encounter this kind of error on the Liveness and/or Readiness probe during an application deployment phase:

```bash
Readiness probe failed: dial tcp 100.64.2.230:80: connect: connection refused
Liveness probe failed: dial tcp 100.64.2.230:80: connect: connection refused
```

That means your application may not able to start, or has started but takes too many time to start.

Here are the possible reasons for starting issues you should check:

<Steps headingDepth={3}>
<ol>
<li>

The declared port on Qovery (here 80), does not match your application's opening port. Check your application port, and [set the correct port to your application configuration][docs.using-qovery.configuration.application#ports].

</li>
<li>

Ensure your application is not listening onto localhost (127.0.0.1) or a specific IP. But set it to all interfaces (0.0.0.0).

</li>
<li>

Your application is too to long to start. Try to grow the the [initial delay check][docs.using-qovery.configuration.advanced-settings] (liveness_probeinitial_delay_seconds parameter). Try for example delay the time to check from 30s to 120s.

</li>
</ol>
</Steps>

<Alert type="info">

If you need to manually debug, you can connect to your container:

1. [Temporary delete the application port from your application configuration][docs.using-qovery.configuration.application#ports] and redeploy your application
2. Use [qovery shell][docs.using-qovery.interface.cli#shell] command to connect to your container and understand what's wrong
3. Re-apply the port to listen and redeploy your application

</Alert>

## 0/x nodes are available: x insufficient cpu/ram

If you encounter this kind of error during an application deployment phase:

```bash
0/1 nodes are available: 1 Insufficient cpu (or ram).
```

That means that we cannot reserve the necessary resources to deploy your application or database on your cluster due to an insufficient amount of CPU or RAM. Moreover, the cluster auto-scaler cannot be triggered since it has already reached the maximum number of instances for your cluster (valid only for Managed Kubernetes clusters).

Here are the possible solutions you can apply:

* Reduce the resources (CPU/RAM) allocated to your existing/new service. Have a review of the deployed services and see if you can save up some resources by reducing their CPU/RAM setting. If you are using a *K3S (EC2) cluster*, stop your service before changing the settings. Remember to re-deploy the applications when you edit the resource. Have a look at [the resource section for more information][docs.using-qovery.configuration.application#resources].

* Select a bigger instance type for your cluster (in terms of CPU/RAM). By increasing it, it will unlock the deployment of your application (since new resources have been added). Check your [cluster settings][docs.using-qovery.configuration.clusters#managing-your-cluster-settings], and change the instance type of your cluster.

* (only for Managed kubernets clusters) Increase the maximum number of nodes of your cluster. By increasing it, it will allow the cluster autoscaler to add a new node and allow the deployment of your application (since new resources have been added). Check your [cluster settings][docs.using-qovery.configuration.clusters#managing-your-cluster-settings], and increase the maximum number of nodes of your cluster.

<Alert type="info">

Please note that by increasing the number of nodes OR by selecting a bigger instance type you will increase your cloud provider cost. For more information, have a look at our [cluster section][docs.using-qovery.configuration.clusters#what-are-the-different-instance-types-available-when-creating-a-cluster].

</Alert>

Please note that application resource consumption and application resource allocation are not the same. Have a look at [the resource section for more information][docs.using-qovery.configuration.application#resources]

## During a managed database delete, I've this error: SnapshotQuotaExceeded

This errors occurs because Qovery creates a snapshot before the delete of the database. This to avoid a user mistake who delete a database accidentally.

To fix this issue, you have 2 solutions:

<Steps headingDepth={3}>
<ol>
<li>

You certainly have useless snapshots, from old databases or old ones you don't want to keep anymore. Delete them directly from your Cloud Provider web interface. Here is an example on AWS:

* Search for the database service (here RDS)
* Select the Snapshots menu
* Select the snapshots to delete

<p Valign="center">
  <img src="/img/configuration/database/db-snaptshots-quotas-exceed.png" alt="Database snapshots" />
</p>

</li>
<li>

Open a ticket to the Cloud Provider support, and as to raise this limit.

</li>
</ol>
</Steps>

# Organizations and clusters

## I don't have Qovery access anymore, how could I delete Qovery deployed resources on my AWS account?

Unfortunately, there is no automatic way to do it with Qovery once we don't have access. However, AWS provides an easy way to retrieve those resources, so you can manually perform the delete. To do so, go on the AWS web console, and search for "Resource Groups & Tag Editor" service, then:

<p Valign="center">
  <img src="/img/aws_resource_groups.png" alt="Resource groups search by tag" />
</p>

1. Click on "Create Resource Group".
2. In Tags, enter: "ClusterLongId".
3. In the "Optional Tag value", enter the Qovery cluster ID. If you don't have it, let AWS suggest it for you. If you have Qovery deployed elements remainings, it will propose the Cluster long ID automatically.
4. Click on "Add".
5. You should see the filter with the information you just entered.
6. Click on "Preview groups resources".
7. You'll have all elements deployed by Qovery and you can delete what you want.

# More
You are looking to troubleshoot your application with Qovery? [Read this very short guide][guides.debugging]
