---
title: Troubleshoot
description: "Everything you need to troubleshoot your application with Qovery"
sidebar_label: hidden
hide_pagination: true
---

<Alert type="info">

In this guide, you'll find common mistakes, and how to resolve them. If you don't find what you need here, [please use the forum](https://discuss.qovery.com/).

</Alert>

# Common application deployment issues

## Liveness/Readiness failed, connect: connection refused

If you encounter this kind of error on the Liveness and/or Readiness probe during an application deployment phase:

```bash
Readiness probe failed: dial tcp 100.64.2.230:80: connect: connection refused
Liveness probe failed: dial tcp 100.64.2.230:80: connect: connection refused
```

That means your application may not able to start, or has started but takes too many time to start.

Here are the possible reasons for starting issues you should check:

<Steps headingDepth={3}>
<ol>
<li>

The declared port on Qovery (here 80), does not match your application's opening port. Check your application port, and [set the correct port to your application configuration][docs.using-qovery.configuration.application#ports].

</li>
<li>

Ensure your application is not listening onto localhost (127.0.0.1) or a specific IP. But set it to all interfaces (0.0.0.0).

</li>
<li>

Your application can take a long time to start and succeed in the end. If it's expected, you don't want to see those messages in your logs and fix this issue, you should configure the behavior of the desired probe. For example delay the time to check from 30s to 60s. All options are [available here][docs.using-qovery.configuration.advanced-settings#kubernetes-probes].

</li>
</ol>
</Steps>

# More
You are looking to troubleshoot your application with Qovery? [Read this very short guide][guides.debugging]
