---
title: "Initialize your cloud account"
description: "Initialize your cloud account allowing GKE clusters deplyments"
---

import Steps from '@site/src/components/Steps';
import Alert from '@site/src/components/Alert';
import Assumptions from '@site/src/components/Assumptions';

This guide will help you to initialize your GCP account allowing Qovery to deploy GKE clusters.

## Enable GCP services

<Steps headingDepth={3}>
<ol>

<li>

[Connect to your GCP console](https://console.cloud.google.com)

</li>

<li>

Activate Kubernetes Engine API

<p align="center">
  <img src="/img/gcp-account-initialization/kubernetes-api-activation.png" />
</p>

</li>

<li>

Activate Compute Engine API

<p align="center">
  <img src="/img/gcp-account-initialization/compute-engine-api-activation.png" />
</p>

</li>

<li>

Activate Artifact Registry API

<p align="center">
  <img src="/img/gcp-account-initialization/artifact-registry-api-activation.png" />
</p>

</li>

<li>

Cloud Storage API

<p align="center">
  <img src="/img/gcp-account-initialization/cloud-storage-api-activation.png" />
</p>

</li>

<li>

Cloud Resource Manager API

<p align="center">
  <img src="/img/gcp-account-initialization/cloud-resource-manager-api-activation.png" />
</p>

</li>

<li>

That's it!

</li>
</ol>
</Steps>