---
title: "Quickstart"
description: "Learn how to quickly install Qovery on your Google Cloud Platform (GCP) account"
---
import Steps from '@site/src/components/Steps';
import Alert from '@site/src/components/Alert';
import Assumptions from '@site/src/components/Assumptions';

Install Qovery on your GCP account in less than 20 minutes. Qovery will create a Kubernetes cluster for you and manage it for you. To install Qovery on an existing Kubernetes cluster, please refer to the [dedicated documentation][docs.getting-started.install-qovery.gcp.cluster-managed-by-qovery].

<Assumptions>

* You have an account and an [Organization][docs.using-qovery.configuration.organization] on Qovery
* You have an GCP account
* You have a GCP project with billing activated and linked

</Assumptions>


<Steps headingDepth={3}>

<ol>

<li>

## Create a Kubernetes cluster

<Alert type="warning">

Before creating your cluster, ensure that you have at least **4 CPUS** and **8 GB of memory** available in your [GCP quotas](https://cloud.google.com/docs/quota).

These quotas can be edited by yourself or by contacting GCP support.

</Alert>

Now you can create your Kubernetes cluster. Follow this [guide][docs.using-qovery.configuration.clusters#creating-a-cluster] to create your Kubernetes cluster.

<p align="center">
  <img src="/img/install-qovery/common/add-cluster.jpg" alt="Add Cluster" />
</p>

Note that you can create multiple clusters on the same GCP account with different VPCs. You can also create multiple clusters on different GCP accounts. Qovery will manage them for you.

</li>

<li>

## Attach GCP credentials

Follow this [guide][docs.getting-started.install-qovery.gcp.cluster-managed-by-qovery.create-credentials] to create your GCP credentials.

<p align="center">
  <img src="/img/install-qovery/gcp/attach-credentials.png" alt="Attach Credentials" />
</p>

Then attach your credentials to your cluster and click on `Create`. Then, click on `Continue`.

</li>

<li>

## Install Qovery

Click on `Create and Deploy` to create the cluster and install Qovery on it.

It will take up to 20 minutes to create the cluster, VPC and install Qovery on it. But you can already [configure your first application][guides.getting-started.deploy-your-first-application].

You should see your new cluster in the list of clusters.

<p align="center">
  <img src="/img/install-qovery/common/list-gcp-clusters.jpg" alt="Show clusters" />
</p>

</li>

</ol>

</Steps>
