---
title: "Quickstart"
description: "Learn how to install Qovery on your GCP account in less than 10 minutes"
---

import Steps from '@site/src/components/Steps';
import Alert from '@site/src/components/Alert';
import Assumptions from '@site/src/components/Assumptions';

<Alert type="info">

Please refer to [this page][docs.getting-started.install-qovery.kubernetes.quickstart] if you want to install Qovery on your own Kubernetes cluster (BYOK).

</Alert>

Qovery lets you quickly deploy applications to your [GCP (GCP)][urls.gcp] account. No knowledge needed, and it takes less than 10 minutes to install Qovery on your GCP account.

## Getting started

<Assumptions>

* You have a Qovery account
* You have created an [Organization][docs.using-qovery.configuration.organization]
* You have a GCP account

</Assumptions>

### Connect your GCP account

To link your GCP account to Qovery you need to provide a GCP JSON credentials key.

<Alert type="info">

You can link more than one GCP account. Qovery also support multiple Cloud providers within the same Organization. Meaning, you can balance your workload on different Cloud providers.

</Alert>

#### Create your GCP credentials

<Steps headingDepth={3}>
<ol>

<li>

[Connect to your GCP console](https://console.cloud.google.com)

</li>

<li>

Create a new `Project` or open an exiting one

<p align="center">
  <img src="/img/gcp-credentials/gcp_project.png" />
</p>

</li>

<li>

Open the embedded Google shell

<p align="center">
  <img src="/img/gcp-credentials/gcp_shell_1.png" />
</p>

</li>

<li>

Run the following command in the Google Shell to create the service account and generate the json key:

```bash
wget https://hub.qovery.com/files/create_credentials_gcp.sh && chmod +x create_credentials_gcp.sh && ./create_credentials_gcp.sh $GOOGLE_CLOUD_PROJECT qovery-service-account
```

<Alert type="info">

You can modify the service account name by replacing `qovery-service-account` by the name of your choice.

</Alert>

</li>

<li>

Once the script is done. A GCP JSON credentials key has been created and you can download it.
<img src="/img/gcp-credentials/gcp_shell_5.png" />
<img src="/img/gcp-credentials/gcp_shell_6.png" />

</li>
</ol>
</Steps>

Well done!! You now have your GCP `JSON credentials key`; It is time to connect Qovery to your GCP account.

### Install a new cluster on Qovery

You will be able to use the credentials you just generated when creating a cluster via the Qovery console. This cluster will be linked to your Qovery organization.
Follow [this documentation][docs.using-qovery.configuration.clusters#creating-a-cluster] to create a new cluster on your organization.

### Remove your GCP account

<Alert type="warning">

Your applications and your data will be deleted.

</Alert>

To delete Qovery from your GCP account you must be the owner of the Organization and delete the cluster on Qovery side. Follow [this documentation][docs.using-qovery.configuration.clusters#deleting-a-cluster]
Once your GCP account removed from Qovery, everything configured (VPC, Kubernetes, databases, ...) by Qovery will be deleted forever.
