---
title: "What is Qovery?"
description: "High-level description of the Qovery goals and mission."
---

<p align="center">
  <img src="/img/qovery_environments_.svg" alt="Qovery environments" />
</p>


<%= qovery_summary() %>
