---
title: "Cloud credentials"
description: "Learn how to manage your cloud credentials"
---
import Jump from '@site/src/components/Jump';
import Assumptions from '@site/src/components/Assumptions';

The **Cloud Credentials Management** interface provides a centralized location to view and manage all cloud providers credentials. These credentials are automatically listed when a cluster is provisioned.

This interface gives you visibility into all credentials, allows you to see which clusters are using them, and provides actions to update or delete them as needed.

<p align="center">
  <img src="/img/configuration/organization/cloud-credentials.png" alt="How to access your cloud credentials" />
</p>

## Viewing credentials and their usage

Each cloud credential is displayed with details such as its name, cloud provider, public access key or ARN role. Next to each credential, you’ll find a **View Associated Clusters** button. Clicking it opens a list of all clusters that are currently using the credential, helping you assess the impact before making changes.

## Editing a credential

Credentials can be updated at any time by clicking the **Edit** button. This opens a form where you can modify key properties like access keys or configuration settings.

<Alert type="info">

Changes are saved and applied to the system immediately. Updated credentials will be used during the **next deployment** of each associated cluster.

</Alert>

## Deleting a credential

To delete a credential, click the **Delete** button. 

<Alert type="warning">

If the credential is still linked to one or more clusters, the deletion won't be possible. In such cases, you must first remove its association from those clusters.

</Alert>

## Best Practices

Before editing or deleting credentials, always review their usage by checking the associated clusters. This helps prevent disruptions during future deployments. Assign clear, descriptive names to credentials for easier identification, and regularly review unused credentials to maintain a secure environment.
