---
title: "Annotations"
description: "Learn how to manage the kubernetes annotations via Qovery"
---
import Jump from '@site/src/components/Jump';
import Assumptions from '@site/src/components/Assumptions';

You can manage the extra annotations of the different Kubernetes objects deployed by Qovery directly from the Qovery console.

You can access the extra annotations configuration by opening the `Annotations` section within the organization settings.

<p align="center">
  <img src="/img/configuration/organization/annotations_settings.png" alt="How to access your annotations section" />
</p>

## Create an annotation group

You can create a new annotation group by pressing the `Add annotation` button. You need to provide:
- A group name
- The different annotations keys/values constituting the group. The key/value have to respect a certain syntax, check the [official Kubernetes documentation](https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/#syntax-and-character-set) to learn more.

<Alert type="warning">

To ensure that Qovery will be able to continue managing your services. Some annotations prefixes are forbidden:
* `kubernetes.io/`
* `k8s.io/`
* `appCommitId`
* `checksum/config`
* `checksum/config-mount-files`
* `meta.helm.sh/release-name`
* `meta.helm.sh/release-namespace`
* `kubernetes.io/`
* all prefixes containing `qovery.com`

</Alert>

- A scope: this allows to define more fine-grained the Kubernetes objects involved by the extra annotations.

Example:

<p align="center">
  <img src="/img/configuration/organization/annotation_group.png" alt="Annotation group form" />
</p>


Once validated the annotation group will be displayed on the interface.

You can now apply it your applications, cronjobs, lifecycle jobs and database containers.

<Alert type="info">

Helm is not supported as you can't directly add extra annotations within your helm chart.

</Alert>

## Edit an annotation group

You can edit your annotation group to add/remove/edit labels or update the scope.
If this annotation group was already used in your services. You will have to redeploy them for these changes to be taken into account.

## Delete an annotation group

You can delete an annotation group.
If this annotation group was already used in your services. You will have to redeploy them for removing the annotations linked to your services.