---
title: "Create Credentials"
description: "Generate your Azure credentials to connect your Azure account to Qovery"
---

import Steps from '@site/src/components/Steps';
import Alert from '@site/src/components/Alert';
import Assumptions from '@site/src/components/Assumptions';

This guide will help you to generate your Azure credentials to connect your Azure account to Qovery.

## Generate your Azure credentials

<Steps headingDepth={3}>
<ol>

<li>

[Connect to your Azure console](https://portal.azure.com)

</li>

<li>

Open the embedded Azure shell

<Alert type="warning">

Make sure the Azure Shell is set to Bash, not PowerShell.

</Alert>

<p align="center">
  <img src="/img/azure-credentials/azure_shell_1.png" />
</p>

</li>

<li>

Run the following command in the Azure Shell to dynamically create a service principal in your tenant using the Qovery app registration, allowing secure, credential-free installation of your Azure cluster:

```bash
curl https://hub.qovery.com/files/create_credentials_azure.sh | \
bash -s -- $ACC_USER_SUBSCRIPTION
```

<Alert type="info">

By default, the command will use the currently active subscription. The script will display the current context (Subscription ID and Tenant ID) before granting permissions, allowing you to review and modify them if needed.
If you have multiple subscriptions, you can explicitly pass the desired subscription as a parameter.

</Alert>

</li>

<li>

At the end of the command execution, the script will return the Subscription ID and Tenant ID, which you will need to provide in the credentials creation modal in the Qovery console.

That's it!

</li>
</ol>
</Steps>

### Install a new cluster on Qovery

You will be able to use the credentials you just generated when creating a cluster via the Qovery console. This cluster will be linked to your Qovery organization.
Follow [this documentation][docs.using-qovery.configuration.clusters#creating-a-cluster] to create a new cluster on your organization.
