---
title: "AWS EKS Installation"
description: "Learn how to install and configure Qovery on your own AWS EKS cluster"
---

import Steps from '@site/src/components/Steps';
import Alert from '@site/src/components/Alert';

<Alert type="warning">

This page is dedicated to AWS EKS users and is temporary until BYOK is GA. Contact us if you have any question.

</Alert>

In this section we will explain how to install Qovery on a EKS cluster running on your AWS account.

## Requirements

Have a look at the [Requirements][docs.getting-started.install-qovery.kubernetes.requirements] section.

## Install your cluster

Qovery needs a Kubernetes cluster running on your AWS account. 

If you already have an EKS cluster, make sure that:
- you have the Kubeconfig of the cluster
- (only if you want to use databases of type `container` with Qovery) the EKS worker nodes have a role assigned with the permission `AmazonEBSCSIDriverPolicy`

<Alert type="success">

Follow [this guide][docs.getting-started.install-qovery.kubernetes.create-k8s-cluster] to test Qovery BYOK on a demo cluster (K3s).

</Alert>

## Get the AWS credentials

<Alert type="info">

This step will not be necessary in the upcoming version of our self-managed offer.

</Alert>

Create a IAM user on your AWS account, add the following in-line permissions to the user:

```json
{
	"Statement": [
		{
			"Action": [
				"ecr:*",
				"s3:ListAllMyBuckets"
			],
			"Effect": "Allow",
			"Resource": "*"
		},
		{
			"Action": [
				"s3:*"
			],
			"Effect": "Allow",
			"Resource": [
				"arn:aws:s3:::qovery*",
				"arn:aws:s3:::qovery*/*"
			]
		},
		{
			"Action": [
				"eks:AccessKubernetesApi",
				"eks:Describe*",
				"eks:List*"
			],
			"Effect": "Allow",
			"Resource": "*"
		}
	],
	"Version": "2012-10-17"
}
```

<li>

To create an `access key id` and `secret access key`, go to the Security Credentials tab of the `Qovery` user and press `Create access key`

<img src="/img/aws/aws-create-credentials-1.png" />
<img src="/img/aws/aws-create-credentials-2.png" />
<img src="/img/aws/aws-create-credentials-3.png" />

You can now save the `access key id` and `secret access key`
<img src="/img/aws/aws-create-credentials-4.png" />

</li>

<li>

Once the user is created, make sure it has the proper access permissions on the EKS cluster (`system:masters`). Example with `eksctl`

```shell
eksctl create iamidentitymapping --arn <iam_user_arn> --region <cluster_region> --username <user_name> --cluster <cluster_name> --group system:masters
```

</li>
</ol>

</Steps>

## Install Qovery

<Steps headingDepth={3}>

<ol>

<li>

Create a cluster on the Qovery console

Login to the [Qovery console][urls.qovery_console], and create a "Self-Managed" cluster:

<p align="center">
  <img src="/img/install-qovery/self-managed/general.png" alt="Create Self-Managed cluster" />
</p>

Set the name of the cluster, the installation type and add as `Credentials` the AWS key that you have created in the previous step.

<p align="center">
  <img src="/img/install-qovery/self-managed/kubeconfig.png" alt="Add your Kubeconfig" />
</p>

Add your cluster kubeconfig file, and click on "Continue".

<Alert type="warning">

The credentials and the kubeconfig are temporary requirements that will disappear in the next versions. See the [Requirements][docs.getting-started.install-qovery.kubernetes.requirements] section for more information.

</Alert>

<p align="center">
  <img src="/img/install-qovery/self-managed/create.png" alt="Create the cluster" />
</p>

You'll finally be able to download a file containing the Qovery configuration for your cluster. The content of this file will be used later.

<p align="center">
  <img src="/img/install-qovery/self-managed/qovery_override.png" alt="Override Helm chart config" />
</p>

Here is an example of the content override of the file:
```yaml
qovery:
  clusterId: &clusterId XXXXXXX-XXX...
  clusterShortId: &shortClusterId zXXXX
  organizationId: &organizationId XXXXXXX-XXX...
  jwtToken: &jwtToken "..."
  domain: &domain "xxx.domain.org"
  domainWildcard: &domainWildcard "*.xxx.domain.org"
  qoveryDnsUrl: &qoveryDnsUrl https://xxx
  lokiUrl: &lokiUrl http://loki.qovery.svc:3100
  promtailLokiUrl: &promtailLokiUrl http://loki.qovery.svc:3100/loki/api/v1/push
  acmeEmailAddr: &acmeEmailAddr "set-by-customer" # set your email address here for Let's encyrpt notification
  externalDnsPrefix: &externalDnsPrefix "qvy-zxxx-"
  architectures: &architectures "AMD64
```

</li>

<li>

Now we have to build a values.yaml to be used during the installation of Qovery on your cluster via Helm. You will find in the [helm chart git repository](https://github.com/Qovery/qovery-chart) a non exhaustive list of `values` example files. Depending on your need, download the one you want and update the configuration inside it.

Provided AWS examples are:
* `values-demo-aws.yaml`: this a pre-configured version to quickly setup Qovery on a demo cluster (**do not use this configuration in production**)
* `values-aws.yaml`:  this is a complete version where you can customize the entire Qovery installation. Adapt it based on your needs.

Once you have downloaded the base values you want to use, replace the `qovery config` part with the configuration provided by the Qovery console (see previous step).

<Alert type="info">

Make sure that all fields having value `set-by-customer` are filled.

</Alert>

Learn more about the configuration in the [Configuration page][docs.getting-started.install-qovery.kubernetes.byok-config].

</li>

<li>

Install [Helm][urls.helm] command line tool.

</li>

<li>

Add Qovery Helm repository.

<Alert type="warning">

Qovery Helm Chart is only available for users who have access to Qovery BYOK. [Request your access here](https://www.qovery.com/solutions/bring-your-own-kubernetes).

</Alert>


```bash
helm repo add qovery https://helm.qovery.com/
helm repo update
```

</li>

<li>

Install Qovery on your Kubernetes cluster.

```bash
helm upgrade --install --wait --atomic --create-namespace -n qovery -f <your-values-file.yaml> \
--set services.certificates.cert-manager-configs.enabled=false,services.certificates.qovery-cert-manager-webhook.enabled=false \
qovery qovery/qovery
```
* `-n qovery`: the namespace where Qovery and its dependencies will be installed
* `--set...`: override (only for the first deployment time, if you want to use Cert-Manager) to let cert-manager install its CRDs
* `-f your-values-file.yaml`: the values file you've downloaded, overrided with the Qovery config and your custom config
* `qovery/qovery`: name of the chart to deploy
* `qovery`: name of the release

If you want to use Cert-Manager, you can remove the `--set...` for the future updates (or if already installed):
```bash
helm upgrade --install --create-namespace -n qovery -f <your-values-file.yaml> qovery qovery/qovery
```

That's it, you can now use Qovery on your own Kubernetes cluster!

</li>

</ol>

</Steps>

## Further configuration

Now that you have installed Qovery on your cluster, you can modify its configuration based on your need following the [Qovery BYOK configuration guide][docs.getting-started.install-qovery.kubernetes.byok-config].
