---
title: "Quickstart"
description: "Learn how to install and configure Qovery on your own Kubernetes cluster (BYOK) / Self-managed Kubernetes cluster"
---

import Steps from '@site/src/components/Steps';
import Alert from '@site/src/components/Alert';

<Alert type="info">

This section is for Kubernetes power-users. If you are not familiar with Kubernetes, we recommend you to use Qovery on a Managed Kubernetes cluster on [AWS][docs.getting-started.install-qovery.aws.cluster-managed-by-qovery.quickstart], [GCP][docs.getting-started.install-qovery.gcp.cluster-managed-by-qovery.quickstart], [Scaleway][docs.getting-started.install-qovery.scaleway.cluster-managed-by-qovery.quickstart], [Azure][docs.getting-started.install-qovery.azure.cluster-managed-by-qovery.quickstart], or contact us.

</Alert>

Qovery Self-Managed (or BYOK: Bring Your Own Kubernetes) is a self-hosted version of Qovery. It allows you to install Qovery on your own Kubernetes cluster.
Read [this article](https://www.qovery.com/blog/kubernetes-cluster-managed-by-qovery-vs-self-managed-byok) to better understand the difference with the Managed Kubernetes by Qovery. In a nutshell, Qovery BYOK is for Kubernetes experts who want to manage their own Kubernetes cluster. In this version, Qovery does not manage the Kubernetes cluster for you.

## ⚠️ Important considerations

The current state of Qovery BYOK is still in beta. We are working hard to improve it and make it production-ready. Here are some important considerations:

- Contact us if you want to use Qovery BYOK in production. We can assess your setup and validate it's good to go. 
  - Even if Qovery BYOK is in beta, the Qovery Control Plane and the Qovery Engine are production-ready. BYOK is a lightweight version of our Managed Qovery offer and need time to externalize some configuration parameters mostly. We don't risk to break your cluster, but we prefer be cautious. 
- Qovery BYOK is free during the beta period. We will communicate the pricing soon.
- Some features are not available yet. Refer to the table below to see what is available and what is not.

| Release date           | Feature                                                        |
|------------------------|----------------------------------------------------------------|
| ✅ Delivered (Dec 2023) | Install Qovery BYOK on your **AWS and GCP** Kubernetes cluster |
| ✅ Delivered (Dec 2023) | Deploy your applications                                       |
| ✅ Delivered (Dec 2023) | Fetch logs                                                     |
| End of January 2024    | Install Qovery BYOK on **any** Kubernetes cluster              |

## Requirements

Have a look at the [Requirements][docs.getting-started.install-qovery.kubernetes.requirements] section.


## Install your cluster

If you already have one you can skip this section.

<Alert type="success">

Follow [this guide][docs.getting-started.install-qovery.kubernetes.create-k8s-cluster] to test Qovery BYOK on a demo cluster.

</Alert>


## Install Qovery

<Alert type="info">

For a more in depth view on how to install it on AWS and GCP, have a [look at this page][docs.getting-started.install-qovery.kubernetes.installation-aws-gcp].

</Alert>

<Steps headingDepth={3}>

<ol>

<li>

Install [Helm][urls.helm] command line tool.

</li>

<li>

Add Qovery Helm repository.

<Alert type="warning">

Qovery Helm Chart is only available for users who have access to Qovery BYOK. [Request your access here](https://www.qovery.com/solutions/bring-your-own-kubernetes).

</Alert>


```bash
helm repo add qovery https://helm.qovery.com
helm repo update
```

</li>

<li>

Login to the [Qovery console][urls.qovery_console], create a cluster of type `Self-Managed` until it's asked to save informations in the `values.yaml` file.

</li>

<li>

<<<<<<< HEAD
You will find in the [helm chart git repository](https://github.com/Qovery/qovery-chart/tree/main/charts/qovery) a non exhaustive list of `values` example files. Depending on your need, download the one you want and update the configuration inside it.

Provided examples are:
* `values-demo-<cloud-provider-name>.yaml`: this version is to quickly setup Qovery on a demo cluster (**do not use this configuration in production**)
* `values-<provider-name>.yaml`: find versions made for some providers for production usage. Adapt it based on your needs.

Then replace the `qovery config` part with the configuration content override, provided by the Qovery console (see previous).

<Alert type="info">

Update all fields `set-by-customer` with your own values in the values file you've downloaded.

</Alert>
=======
You will find several `values.yaml` files. Depending on you need, select the one you want and update the configuration accordingly:
* `values-demo.yaml`: this version is to locally test with k3s or minikube
* `values-<provider-name>.yaml`: find versions made for some providers
>>>>>>> 025f1d2232 (fix)

Learn more about the configuration in the [Configuration page][docs.getting-started.install-qovery.kubernetes.byok-config].

</li>

<li>

Install Qovery on your Kubernetes cluster.

```bash
<<<<<<< HEAD
helm upgrade --install --wait --atomic --create-namespace -n qovery -f <your-values-file.yaml> \
--set services.certificates.cert-manager-configs.enabled=false,services.certificates.qovery-cert-manager-webhook.enabled=false \
qovery/qovery qovery
```
* `-n qovery`: the namespace where Qovery and its dependencies will be installed
* `--set...`: override (only for the first deployment time, if you want to use Cert-Manager) to let cert-manager install its CRDs
* `-f your-values-file.yaml`: the values file you've downloaded, overrided with the Qovery config and your custom config
* `qovery/qovery`: name of the chart to deploy
* `qovery`: name of the release

If you want to use Cert-Manager, you can remove the `--set...` for the future updates (or if already installed):
```bash
helm upgrade --install --create-namespace -n qovery -f <your-values-file.yaml> qovery/qovery qovery
```

That's it, you can now use Qovery on your own Kubernetes cluster!
=======
helm upgrade --install -n qovery -f values-demo.yaml qovery
```
* `-n qovery`: the namespace where Qovery and its dependencies will be installed
* `-f values-demo.yaml`: specify the values overrides file you want to use
* `qovery`: name of the chart to deploy
>>>>>>> 025f1d2232 (fix)

</li>

</ol>

</Steps>

## Configuration

Now that you have installed Qovery on your cluster, you can modify its configuration based on your need following the [Qovery BYOK configuration guide][docs.getting-started.install-qovery.kubernetes.byok-config].