name: github pages

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'

      - run: cd website && npm install && npm run-script build

      #- name: Install broken-link-checker
      #  run: |
      #    yarn add broken-link-checker-local

      #- name: Check broken links
      #  run: |
      #    blcl -g --filter-level 1 -ro build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./website/build
          cname: docsv2.qovery.com
