---
title: "Create Credentials"
description: "Generate AWS credentials for Qovery"
---
import Steps from '@site/src/components/Steps';
import Alert from '@site/src/components/Alert';
import Assumptions from '@site/src/components/Assumptions';

This guide will help you to create your Amazon Web Services (AWS) credentials for Qovery. Those credentials will be used to create a Kubernetes cluster, a dedicated VPC and a few services on your AWS account. Refer to our [Infrastructure][docs.getting-started.install-qovery.aws.cluster-managed-by-qovery.infrastructure] page to learn more about the infrastructure created by Qovery.

<Assumptions>

* You have an AWS account

</Assumptions>

## Generate AWS credentials

<Steps headingDepth={3}>
<ol>

<li>

[Connect to your AWS console](https://console.aws.amazon.com)

</li>

<li>

Go to `IAM`
<img src="/img/aws/aws-my-security-credentials.png" />

</li>

<li>

Create one IAM user called `qovery`.
<img src="/img/aws/create-user-1.png" />
<img src="/img/aws/create-user-2.png" />
<img src="/img/aws/create-user-3.png" />

</li>

<li>


Setup<a href="/files/qovery-iam-aws.json"> IAM permissions</a> to the `qovery` user.


<Alert type="warning">

<a href="/files/qovery-iam-aws.json">Download IAM permissions JSON</a>

<hr/>

Or copy it from below:


```json
{
	"Version": "2012-10-17",
	"Statement": [
		{
			"Effect": "Allow",
			"Action": [
				"iam:*",
				"s3:ListAllMyBuckets",
				"cloudwatch:*",
				"autoscaling:*",
				"application-autoscaling:*",
				"elasticloadbalancing:*",
				"organizations:DescribeAccount",
				"organizations:DescribeOrganization",
				"organizations:DescribeOrganizationalUnit",
				"organizations:DescribePolicy",
				"organizations:ListChildren",
				"organizations:ListParents",
				"organizations:ListPoliciesForTarget",
				"organizations:ListRoots",
				"organizations:ListPolicies",
				"organizations:ListTargetsForPolicy",
				"dynamodb:*",
				"ecr:*",
				"ec2:*",
				"elasticache:*",
				"cloudtrail:LookupEvents",
				"dynamodb:*",
				"tag:GetResources",
				"rds:*",
				"ecs:*",
				"eks:*",
				"logs:*",
				"events:DescribeRule",
				"events:DeleteRule",
				"events:ListRuleNamesByTarget",
				"events:ListTargetsByRule",
				"events:PutRule",
				"events:PutTargets",
				"es:AddTags",
				"es:RemoveTags",
				"es:ListTags",
				"es:DeleteElasticsearchDomain",
				"es:DescribeElasticsearchDomain",
				"es:CreateElasticsearchDomain",
				"events:RemoveTargets",
				"kms:*",
				"events:TagResource",
				"events:ListTagsForResource"
			],
			"Resource": "*"
		},
		{
			"Action": [
				"s3:*",
				"sqs:*"
			],
			"Effect": "Allow",
			"Resource": [
				"arn:aws:s3:::qovery*",
				"arn:aws:s3:::qovery*/*",
				"arn:aws:sqs:*:*:qovery*",
				"arn:aws:sqs:*:*:qovery*/*"
			]
		}
	]
}
```

</Alert>

**Then, follow the arrows in AWS console to create AWS credentials with required IAM permissions:**

<img src="/img/aws/aws-add-policy-1.jpg" />
<img src="/img/aws/aws-add-policy-2.png" />
<img src="/img/aws/aws-add-policy-3.jpg" />
<img src="/img/aws/aws-add-policy-4.jpg" />

</li>

<li>

To create an `access key id` and `secret access key`, go to the Security Credentials tab of the `Qovery` user and press `Create access key`

<img src="/img/aws/aws-create-credentials-1.png" />
<img src="/img/aws/aws-create-credentials-2.png" />
<img src="/img/aws/aws-create-credentials-3.png" />

You can now save the `access key id` and `secret access key`
<img src="/img/aws/aws-create-credentials-4.png" />

</li>
</ol>

</Steps>

Well done!! You now have your AWS `access key id` and `secret access key` and your permissions are setups; It is time to connect Qovery to your AWS account.

### Install a new cluster on Qovery

You will be able to use the credentials you just generated when creating a cluster via the Qovery console. This cluster will be linked to your Qovery organization.
Follow [this documentation][docs.using-qovery.configuration.clusters#creating-a-cluster] to create a new cluster on your organization.

## Next steps

Now you can use your AWS account to deploy your applications on Qovery. You can also link other Cloud providers to your organization.
