---
title: "Quickstart"
description: "Learn how to quickly install Qovery on your Amazon Web Services (AWS) account"
---
import Steps from '@site/src/components/Steps';
import Alert from '@site/src/components/Alert';
import Assumptions from '@site/src/components/Assumptions';

Install Qovery on your AWS account in less than 30 minutes. Qovery will create a Kubernetes cluster for you and manage it for you. To install Qovery on an existing Kubernetes cluster, please refer to the [dedicated documentation][docs.getting-started.install-qovery.aws.cluster-managed-by-qovery].

<Assumptions>

* You have an account and an [Organization][docs.using-qovery.configuration.organization] on Qovery
* You have an AWS account

</Assumptions>


<Steps headingDepth={3}>

<ol>

<li>

## Create a Kubernetes cluster

Now you can create your Kubernetes cluster. Follow this [guide][docs.using-qovery.configuration.clusters#creating-a-cluster] to create your Kubernetes cluster.

<p align="center">
  <img src="/img/install-qovery/common/add-cluster.jpg" alt="Add Cluster" />
</p>

Note that you can create multiple clusters on the same AWS account with different VPCs. You can also create multiple clusters on different AWS accounts. Qovery will manage them for you.

</li>

<li>

## Attach AWS credentials

Follow this [guide][docs.getting-started.install-qovery.aws.cluster-managed-by-qovery.create-credentials] to create your AWS credentials.

<p align="center">
  <img src="/img/install-qovery/aws/create-credentials.jpg" alt="Create Credentials" />
</p>

Then attach your credentials to your cluster and click on `Create`. Then, click on `Continue`.

</li>

<li>

## Select your options

Qovery propose multiple options that you can select to customize your installation. You can also change some of them later.

</li>

<li>

## Install Qovery

Click on `Create and Deploy` to create the cluster and install Qovery on it.

It will take up to 30 minutes to create the cluster, VPC and install Qovery on it. But you can already [configure your first application][guides.getting-started.deploy-your-first-application].

You should see your new cluster in the list of clusters.

<p align="center">
  <img src="/img/install-qovery/common/list-clusters.jpg" alt="Show clusters" />
</p>

</li>

</ol>

</Steps>
